{
  "printWidth": 100,
  "semi": true,
  "singleQuote": false,
  "tabWidth": 2,
  "trailingComma": "es5",
  "importOrder": [
    "<THIRD_PARTY_MODULES>",
    "^[./](?!.*\\.(css|jpg|jpeg|png|svg|webm)($|\\?)).*",
    "^(.*)(\\.css)$",
    "^(.*)(\\.(jpg|jpeg|png|svg|webm))$"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrderCaseInsensitive": true
}
