img.web-icon {
  content: url('../../images/icons/web.svg');
}

img.email-icon {
  content: url('../../images/icons/email.svg');
}

img.mobile-icon {
  content: url('../../images/icons/mobile.svg');
}
