.help.panel {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 0 auto;
  padding: 30px;
  height: fit-content;
  flex: 0 1 1000px;
  box-sizing: content-box;
}

.help-contact {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin: auto;
  min-width: 80%;
}

.faq-items {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.faq-item {
  border-radius: 10px;
  border: 1px solid rgb(0 0 0 / 10%);
  padding: 14px 20px;
  overflow: hidden;
  min-height: 45px;

  @media (max-width: 500) {
    /* padding: 9px 18px; */
    min-height: 60px;
  }
  @media (max-width: 1200px) {
    /* padding: 6px 12px; */
    min-height: 52px;
  }
}

.faq-item:not(.showing) {
  height: 15px;
}

.faq-item h3 {
  margin: -5px 0 15px 0;
  font-weight: 300;
  font-size: 18px;
  display: flex;
  text-transform: none;
  align-items: center;
  cursor: pointer;
}

.toggle-image {
  content: url("../../images/arrow-down.svg");
  height: 1em;
  margin: 5px;
  transition: all ease-in-out 0.3s;
}

.faq-item.showing .toggle-image {
  transform: rotate(180deg);
}

.faq-item p {
  font-size: 15px;
  font-weight: 300;
  padding: 20px;
}

.help-contact textarea {
  resize: none;
  height: 122px;
  font-family: "Signika Negative";
  padding: 15px;
  font-size: 16px;
}

.help-contact textarea,
.picture-drop-zone,
.faq-item p {
  width: 100%;
  border: 1px solid rgb(0 0 0 / 10%);
  background: rgba(230, 232, 236, 0.2);
  border-radius: 10px;
  box-sizing: border-box;
}

.picture-drop-zone {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  box-sizing: border-box;
}

.picture-drop-zone input {
  display: none;
}

.picture-drop-zone.dragover {
  border-width: 4px;
  border-style: dashed;
  filter: brightness(120%) contrast(120%);
}

.picture-drop-zone.dragover * {
  pointer-events: none;
}

.picture-drop-zone button {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  color: #36a9e0;
  font-weight: 600;
  font-size: 16px;
}

.picture-drop-zone .filename {
  display: flex;
  align-items: center;
}

.picture-drop-zone img {
  content: url("../../images/picture.svg");
  height: 32px;
  width: 32px;
}

.picture-drop-zone .drag-text {
  font-weight: 300;
  font-size: 15px;
  color: #5f5f5f;
}

.help-support {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  height: fit-content;
}

.help-support .topper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

.contact-buttons {
  display: flex;
  gap: 20px;
  width: 100%;
  box-sizing: border-box;
  padding: 30px 0;
}

.contact-buttons button {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 25px;
  background: rgba(230, 232, 236, 0.2);
  justify-content: center;
  font-size: 14px;
  flex-grow: 1;
  padding: 15px;
}

.help-support .contact-info {
  display: flex;
  background: rgba(230, 232, 236, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.12);
  padding: 20px 30px;
  border-radius: 10px;
  margin-top: auto;
  gap: 50px;
}

.help-support .contact-info .bottom {
  display: flex;
}

.help-support .contact-info .contacts {
  display: flex;
  flex-direction: column;
  gap: 5px;
  white-space: nowrap;
}

.help-support .contact-info .contacts div {
  display: flex;
  gap: 8px;
}

.business-name {
  color: rgb(54, 169, 224);
  font-size: 12px;
  margin: 6px 0;
}

.help-support .bottom {
  font-size: 14px;
  font-weight: 300;
  color: #4b4c4f;
}

img.web-icon {
  content: url("../../images/icons/web.svg");
}

img.email-icon {
  content: url("../../images/icons/email.svg");
}

img.phone-icon {
  content: url("../../images/icons/phone.svg");
}

img.mobile-icon {
  content: url("../../images/icons/mobile.svg");
}

.socials {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-left: auto;
  justify-content: end;
}

.icon-linkedin {
  content: url("../../images/icons/linkedin.svg");
}

.icon-facebook {
  content: url("../../images/icons/facebook.svg");
}

.icon-instagram {
  content: url("../../images/icons/instagram.svg");
}

.icon-twitter {
  content: url("../../images/icons/twitter.svg");
}
