.online-indicator {
  font-weight: 300;
  font-size: 12px;
  color: rgb(243, 147, 37);
  background-color: white;
  border-radius: 0 100px 100px 0;
  padding: 8px 10px;
  position: absolute;
  left: 20px;
  top: 35px;
  pointer-events: none;
  opacity: 0;
  transition: opacity 1s;
  box-shadow: 4px 1px 6px rgb(0 0 0 / 7%);
}

.online-indicator.online {
  opacity: 1;
}

.online-indicator .light {
  background-color: rgba(200, 238, 162, 1);
  display: inline-block;
  height: 9px;
  width: 9px;
  border-radius: 100%;
  vertical-align: middle;
  margin: 5px;
}
