/**containers**/
.container {
  display: flex;
}

.right-panel, .container > .chat-list-box {
  border-radius: 30px;
  border: 1px solid #E6E8EC;
  background-color: white;
}

.right-panel {
  padding: 25px;
  margin-left: 20px;
  background-color: white;
}

.flex-container .rce-container-input, .rce-container-mlist, .rce-navbar.light, .rce-mlist {
  background-color: white;
  border-radius: 18px;
  border: 1px solid rgba(0, 0, 0, 0.06);
}

.rce-mlist {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
}

.rce-container-mbox {
  min-width: unset;
  overflow-x: unset;
  flex-grow: 1;
}

.rce-citem, .rce-navbar .rce-citem:hover {
  background: unset;
}

.rce-navbar, .rce-container-mlist {
  margin-bottom: 18px;
}


/** left panel **/
.chat-list-box {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.chat-header {
  font-size: 24px;
  font-weight: 600;
  line-height: 20px;
  margin: 20px 20px 0 20px;
  color: #5F5F5F;
}

.rce-sbar.light {
  background: none;
  min-height: unset;
  flex-grow: 1;
 }

.new-partner {
  height: 100px;
  display: block;
  color: #F28D00;
  display: flex;
  margin: 10px;
  border-top: 1px solid #E6E8EC;
}

.find-partner {
  margin: auto;
   font-weight: 600;
  font-size: 16px;
}

.find-partner img.plus {
  content: url("../images/chat-plus.svg");
  border-radius: 100px;
  border: 2px solid #F28D00;
  vertical-align: middle;
  margin-right: 10px;
}

.waiting {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.waiting .content {
  display: flex;
  margin: 10px auto 4px auto;
}

.waiting .text {
  margin: auto;
  font-weight: 300;
  font-size: 12px;
}

.waiting .header {
  font-weight: 500;
  font-size: 16px;
}

.waiting img.searching {
  content: url("../images/chat-searching.svg");
  margin-right: 10px;
}

.waiting .buttons {
  margin: 0 auto;
}

.waiting .buttons button {
  background: none;
  border-radius: 100px;
  padding: 5px 10px;
  color: #1983C6;
  display: inline;
}

.waiting .buttons .cancel {
  border: 2px solid #36A9E0;
  margin-right: 4px;
}

.waiting .buttons .change {
  border: none;
}

/* search bar */
.rce-sbar.light .rce-sbar-item input {
  margin: 25px;
  padding: 15px;
  color: #5F5F5F;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.rce-citem-body {
  border-bottom: none;
}

.rce-sbar.light .rce-container-input input {
  background: #F9FAFB;
  border-radius: 10px;
}


/** top bar **/
.rce-citem-body--top-title {
  max-width: 300px;
}

.free-appointments, .suggest-appointment, .chat-back {
  border-radius: 100px;
  display: inline;
  padding: 0 20px;
  height: 36px;
  font-size: 15px;
  font-weight: 500;
  margin-right: 10px;
  white-space: nowrap;
}

.chat-back {
  display: none; /* don't display by default; enable with mobile window size */
}

.free-appointments {
  border: 2px solid #F9BA6E;
  color: #F39325;
  background: white;
  margin-right: 10px;
  /* padding: 8px 18px; reduce padding by border size */
}

.suggest-appointment, .call-start, .chat-back {
  background: linear-gradient(90deg, #F28D00 0%, #F9BA6E 100%);
  border: none;
  color: white;
}

.call-start {
  content: url("../images/videobuttons/camera-on.svg");
  height: 30px;
  padding: 5px;
  border-radius: 100px;
}

.rce-navbar-item > button > .text {
  margin-left: unset;
}

/** message area **/
/* hide avatar and name on every message */
.flex-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: auto;
}

.rce-mbox-title {
  display: none;
}

/* format message box */
.rce-mbox {
  border: none;
  background: transparent;
  padding: 0;
  box-shadow: none;
  margin-bottom: 10px;
  margin-left: 10px;
}

.rce-mbox-text {
  font-size: 15px;
  line-height: 24px;
}

.rce-mbox-text::after {
  content: "";  
}

.rce-mbox-text {
  border-radius: 42px; /*smooth curve on up to 3 lines of text, without breaking higher line counts*/
  padding: 6px 20px;
  font-weight: 300;
}

.rce-mbox-text.left {
  float: left;
  background-color: white;
  border: 1px solid rgba(0,0,0,0.06);
}

.rce-mbox-text.right {
  float: right;
  background-color: rgba(243, 147, 37, 0.27);
  margin-right: 6px;
}

.rce-mbox.rce-mbox-right {
  margin-right: 0;
}

.rce-mbox-time {
  position: relative;
  clear: both;
  bottom: inherit;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  padding-right: 16px;
  text-align: unset; /* need to unset here as there is no left class */
}

.rce-mbox-right .rce-mbox-time {
  text-align: right;
}

/* hide speech bubble notch */
.rce-mbox-right-notch, .rce-mbox-left-notch {
  display: none;
}


/** message input/sending area **/
/* input area */
.rce-input-textarea {
  margin: 15px;
  border-radius: 100px;
  padding-left: 16px;
  background-color: #F6F6F6;
  font-size: 16px;
  min-width: 0; /* not sure why this works!! */
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/* send button */
.rce-input-buttons .rce-button:last-child { /* :last-child only needed to override react-chat-elements CSS */
  background: linear-gradient(43.07deg, #DB590B -3.02%, #F39325 93.96%) !important;
  border-radius: 100px;
  padding: 8px 6px;
  font-size: 14px;
  min-width: 66px;
  margin-right: 15px;
}

.chat-list {
  max-width: 100%;
  height: 100%;
}

.rce-container-citem{
  min-width: 0;
}

.right-panel {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.container {
  flex-grow: 1;
}

.flex-container {
  flex-grow: 1;
}

.call-sidebar .flex-container {
  min-height: 100px;
}

.rce-container-mlist.message-list {
  flex-basis: 0;
  flex-grow: 1;
  min-height: 200px;
}

.content-area-right {
  margin: 10px;
}

.rce-citem-body {
  flex: unset;
  flex-grow: 1;
  width: 0;
}

.rce-citem {
  border-radius: 18px;
}

.rce-citem.selected {
  background-color: #F9FAFB;
  border: 1px solid rgba(0, 0, 0, 0.06);
}

/* chat request */
.partner-request {
  font-size: 16px;
  margin: auto 80px;
  display: flex;
  flex-direction: column;
}

.match-notify {
  display: flex;
  margin-top: -50px;
}

.match-notify .text {
  margin: auto 12px;
}

.partner-request img.match-celebrate {
  content: url("../images/chat-match-sucess.svg");
}

.match-process {
  margin: 10px auto;
}

.match-process .buttons {
  margin-top: 10px;
}

.partner-request .buttons button {
  border-radius: 100px;
  display: inline;
  height: 36px;
  box-sizing: border-box;
  padding: 0 14px;
}

.request-accept {
  border: 2px solid #DB590B;
  background-color: white;
  color: #DB590B;
  margin-right: 10px;
}

.request-deny {
  color: white;
  background: linear-gradient(90deg, #F28D00 0%, #F9BA6E 100%);
  border: none;
  margin-right: 4px;
}

.request-info {
  background: none;
  border: none;
}

@media screen and (max-width: 1023px) {
  body {
    background: none;
  }

  #root, .main {
    height: 100%;
  }

  .main {
    box-sizing: border-box;
  }

  .right-panel {
    height: 100%;
    box-sizing: border-box;
    padding: 0;
    margin-left: 0;
  }

  .chat-back {
    display: inline;
  }

  .rce-sbar-item, .chat-list {
    width: 100%;
  }

  .main, .content-area-right, .container, .content-area-right {
    display: contents !important;
  }

  .sidebar, .right-panel:not(.active-panel-mobile), .chat-list-box:not(.active-panel-mobile), button .text {
    display: none !important;
  }
}