/**containers**/
.show-chat .container {
  display: flex;
}

.right-panel {
  min-width: 400px;
  gap: 20px;
}

.rce-navbar.light {
  background: unset;
  padding: 0;
}

.chat-list .rce-container-input {
  /* TODO @tbscode (visibility and height) to temporary disable chat search, can't do display: none cause then the chat width is buggy */
  visibility: hidden;
  height: 0px;
}

/* .rce-container-mlist,  */
.rce-mlist {
  background-color: white;
  border-radius: 18px;
  border: 1px solid rgba(0, 0, 0, 0.06);
}

.rce-mlist {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
  width: 0; /* black magic fuckery. prevents element from over-expanding */
}

.rce-container-mbox {
  min-width: unset;
  overflow-x: unset;
}

.rce-citem,
.rce-navbar .rce-citem:hover {
  background: unset;
}

.rce-navbar .rce-citem {
  cursor: unset;
}

/** left panel **/
.chat-list-box {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 15px;
}

.chat-header {
  font-size: 24px;
  font-weight: 600;
  line-height: 20px;
  margin: 20px 20px 0 20px;
  color: #5f5f5f;
}

.rce-sbar.light {
  background: none;
  min-height: unset;
  flex-grow: 1;
  padding: unset;
}

.rce-container-clist {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.new-partner {
  height: 100px;
  color: #f28d00;
  display: flex;
  border-top: 1px solid #e6e8ec;
}

.find-partner {
  margin: auto;
  font-weight: 600;
  font-size: 16px;
}

.find-partner img.plus {
  content: url("../images/chat-plus.svg");
  border-radius: 100px;
  border: 2px solid #f28d00;
  vertical-align: middle;
  margin-right: 10px;
}

.waiting {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.waiting .content {
  display: flex;
  margin: 10px auto 4px auto;
}

.waiting .text {
  margin: auto;
  font-weight: 300;
  font-size: 12px;
}

.waiting .header {
  font-weight: 500;
  font-size: 16px;
}

.waiting img.searching {
  content: url("../images/match-searching.svg");
  height: 50px;
  margin-right: 10px;
}

.waiting .buttons {
  margin: 0 auto;
}

.waiting .buttons button {
  background: none;
  padding: 5px 10px;
  color: #1983c6;
  display: inline;
}

.waiting .buttons .cancel {
  border: 2px solid #36a9e0;
  margin-right: 4px;
}

.waiting .buttons .change {
  border: none;
}

/* search bar */
.rce-sbar.light .rce-sbar-item input {
  margin: 25px;
  padding: 15px;
  color: #5f5f5f;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.rce-citem-body {
  border-bottom: none;
}

.rce-sbar.light .rce-container-input input {
  background: #f9fafb;
  border-radius: 10px;
}

/** top bar **/
.rce-navbar {
  box-sizing: border-box;
  width: 100%;
  display: flex;
}

.rce-navbar-item__left {
  flex: 1 1;
  min-width: 160px;
  margin-right: 20px;
}

.rce-navbar-item__left a.profile {
  width: 100%;
}

.rce-navbar-item__right {
  min-width: 60px;
  margin-right: 10px;
  gap: 10px;
}

.rce-navbar-item__right button {
  overflow: hidden;
}

.rce-navbar-item__right button .text {
  text-overflow: ellipsis;
  overflow: hidden;
  display: block;
}

.right-panel .rce-navbar-item__left .rce-citem-body {
  min-width: 70px;
  max-width: fit-content;
}

.right-panel .rce-navbar-item__left .rce-container-citem {
  flex: 1 1;
}

.rce-citem-body--top-title {
  max-width: 300px;
}

.free-appointments,
.suggest-appointment {
  display: inline;
  padding: 0 20px;
  height: 36px;
  font-size: 15px;
  font-weight: 500;
  white-space: nowrap;
}

.chat-back {
  display: none; /* don't display by default; enable with mobile window size */
}

.free-appointments {
  border: 2px solid #f9ba6e;
  color: #f39325;
  background: white;
}

.suggest-appointment,
.call-start {
  background: linear-gradient(43.07deg, #db590b -3.02%, #f39325 93.96%);
  border: none;
  color: white;
  height: 36px;
}

.call-start {
  padding: 9px;
  flex-shrink: 0;
}

.call-start img {
  content: url("../images/call-orange.svg");
  filter: grayscale(1) brightness(1.3);
  width: 100%;
  height: 100%;
}

.rce-navbar-item > * > * {
  margin-left: unset;
}

/** message area **/
/* hide avatar and name on every message */
.flex-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: auto;
}

.rce-mbox-title {
  display: none;
}

/* format message box */
.rce-mbox {
  border: none;
  background: transparent;
  padding: 0;
  box-shadow: none;
  margin-bottom: 10px;
  margin-left: 10px;
}

.rce-mbox-text {
  font-size: 15px;
  line-height: 24px;
}

.rce-mbox-text::after {
  content: "";
}

.rce-mbox-text {
  border-radius: 42px; /*smooth curve on up to 3 lines of text, without breaking higher line counts*/
  padding: 6px 20px;
  font-weight: 300;
  white-space: pre-wrap;
}

.rce-mbox-text.left {
  float: left;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.06);
}

.rce-mbox-text.right {
  float: right;
  background-color: rgba(243, 147, 37, 0.27);
  margin-right: 6px;
}

.rce-mbox.rce-mbox-right {
  margin-right: 0;
}

.rce-mbox-time {
  position: relative;
  clear: both;
  bottom: inherit;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  padding-right: 16px;
  text-align: unset; /* need to unset here as there is no left class */
}

.rce-mbox-right .rce-mbox-time {
  text-align: right;
}

/* hide speech bubble notch */
.rce-mbox-right-notch,
.rce-mbox-left-notch {
  display: none;
}

.rce-mlist-down-button {
  display: none;
}

/** message input/sending area **/
/* input area */
.right-panel .rce-container-input {
  gap: 10px;
}

.rce-input-textarea {
  border-radius: 30px;
  padding-left: 16px;
  background-color: #f6f6f6;
  font-size: 16px;
  min-width: 0; /* not sure why this works!! */
}

/* send button */
.rce-input-buttons .rce-button:last-child {
  /* :last-child only needed to override react-chat-elements CSS */
  background: linear-gradient(43.07deg, #db590b -3.02%, #f39325 93.96%) !important;
  border-radius: 100px;
  padding: 8px 6px;
  font-size: 14px;
  min-width: 66px;
}

.rce-input-textarea,
.rce-input-buttons .rce-button:last-child {
  height: 38px;
}

.chat-list {
  max-width: 100%;
  height: 100%;
}

.rce-container-citem {
  min-width: 0;
}

.right-panel {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.container {
  flex-grow: 1;
}

.flex-container {
  flex-grow: 1;
  gap: 20px;
}

.call-sidebar .flex-container {
  min-height: 100px;
}

.rce-container-mlist.message-list {
  flex-basis: 0;
  flex-grow: 1;
  min-height: 200px;
}

.content-area {
  min-width: 800px;
}

.rce-citem-body {
  flex: unset;
  flex-grow: 1;
  width: 0;
}

.rce-citem {
  border-radius: 18px;
  min-width: unset;
  flex: 1 1;
}

/* chat request */
.partner-request {
  font-size: 16px;
  margin: auto 80px;
  display: flex;
  flex-direction: column;
}

.match-notify {
  display: flex;
  margin-top: -50px;
}

.match-notify .text {
  margin: auto 12px;
}

.partner-request img.match-celebrate {
  content: url("../images/chat-match-success.svg");
}

.match-process {
  margin: 10px auto;
}

.match-process .buttons {
  margin-top: 10px;
}

.partner-request .buttons button {
  display: inline;
  height: 36px;
  box-sizing: border-box;
  padding: 0 14px;
}

.request-accept {
  border: 2px solid #db590b;
  background-color: white;
  color: #db590b;
  margin-right: 10px;
}

.request-deny {
  color: white;
  background: linear-gradient(43.07deg, #db590b -3.02%, #f39325 93.96%);
  border: none;
  margin-right: 4px;
}

.request-info {
  background: none;
  border: none;
}

.buttons-mobile {
  display: none;
}

@media screen and (width >= 1024px) {
  .rce-citem.selected {
    background-color: #f9fafb;
    border: 1px solid rgba(243, 147, 37, 1);
  }
}

@media screen and (width < 1024px) {
  #root {
    flex-grow: 1;
  }

  .main-page {
    height: 100%;
    box-sizing: border-box;
  }

  .container .chat-list-box,
  .show-chat .container .right-panel {
    border-radius: 0;
  }

  .show-chat .right-panel {
    min-width: unset;
  }

  .rce-navbar-item__right .free-appointments,
  .rce-navbar-item__right .suggest-appointment {
    display: none;
  }

  .chat-back {
    display: inline;
  }

  .chat-back img {
    content: url("../images/arrow-back.svg");
  }

  .rce-sbar-item,
  .chat-list {
    width: 100%;
  }

  .buttons-mobile {
    padding-bottom: 15px;
    display: flex;
    justify-content: space-around;
    max-width: 100vw;
    overflow: hidden;
  }
  .buttons-mobile button {
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .main-page,
  .content-area .container {
    display: contents !important;
  }

  .content-area {
    height: 100%;
    width: 100%;
    margin: 0;
    min-width: unset;
  }

  .right-panel:not(.active-panel-mobile),
  .chat-list-box:not(.active-panel-mobile) {
    display: none !important;
  }

  .rce-container-mlist {
    margin-bottom: unset;
  }
}


.styled-message-box > a{
  background: linear-gradient(0deg, #3cc1e957, transparent);
  border: 1px solid rgb(0 30 89 / 14%);
}


.styled-message-box button{
  padding: 4px;
  padding-left: 10px;
  padding-right: 10px;
  background: linear-gradient(43.07deg, #db590b -3.02%, #f39325 93.96%);
  border: none;
  color: white;
  height: 36px;
}

.announcement-message {
    font-family: Arial, sans-serif;
    border-radius: 4px;
    padding: 0px;
    margin: 0px;
    line-height: 24px;
    font-size: 20px;
    font-weight: 400;
}

.announcement-message .text-content {
    color: #333333;
    margin: 0;
}

.announcement-message .strong-text {
    font-weight: bold;
}

.announcement-message .emphasis-text {
    font-style: italic;
}

.announcement-message .zoom-button-container {
    text-align: center;
}

.announcement-message .zoom-button-container .zoom-button {
    background-color: #004A99;
    color: white;
    text-align: center;
    border-radius: 20px;
    display: inline-block;
    width: auto;
    padding-right: 20px;
}

.announcement-badge {
  background-color: red;
  color: white;
  border-radius: 15px; /* Rounded corners */
  padding: 3px 8px;    /* Top and Bottom, Left and Right padding */
  font-size: 0.8em;    /* Smaller font size */
  display: inline;     /* Inline display */
}

.show-button {
  display: inline-block;
  cursor: pointer;
  background-color: #0066CC;
  color: white;
  padding: 10px 10px;
  text-decoration: none;
  font-family: Arial, sans-serif;
  border-radius: 12px;
  margin-bottom: 10px; /* Spacing between the button and the message container */
  transition: background-color 0.3s ease; /* Optional: for hover effect */
}

.show-button:hover {
  background-color: #0055BB; /* Optional: button changes color on hover */
}

.toggle-checkbox {
  display: none; /* Hide the actual checkbox input */
}

/* We start with the content not showing, so we are initially hiding the container */
.announcement-message {
  display: none;
}

/* When the checkbox is checked, we display the content container */
.toggle-checkbox:checked + .announcement-message {
  display: block;
}