/**containers**/
.container {
  display: flex;
}

.right-panel, .container > .chat-list {
  border-radius: 30px;
  border: 1px solid #E6E8EC;
  background-color: white;
}

.right-panel {
  padding: 25px;
  margin-left: 20px;
  background-color: white;
}

.flex-container .rce-container-input, .rce-container-mlist, .rce-navbar.light, .rce-mlist {
  background-color: white;
  border-radius: 18px;
  border: 1px solid rgba(0, 0, 0, 0.06);
}

.rce-citem, .rce-navbar .rce-citem:hover {
  background: unset;
}

.rce-navbar, .rce-container-mlist {
  margin-bottom: 18px;
}


/** left panel **/
.chat-header {
  font-size: 24px;
  font-weight: 600;
  line-height: 20px;
  margin: 20px 20px 0 20px;
  color: #5F5F5F;
}

.rce-sbar.light {
  background: none;
}

/* search bar */
.rce-sbar.light .rce-sbar-item input {
  margin: 25px;
  padding: 15px;
  color: #5F5F5F;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.rce-citem-body {
  border-bottom: none;
}

.rce-sbar.light .rce-container-input input {
  background: #F9FAFB;
  border-radius: 10px;
}


/** top bar **/
.rce-citem-body--top-title {
  max-width: 300px;
}

.free-appointments, .suggest-appointment {
  border-radius: 100px;
  display: inline;
  padding: 0 20px;
  height: 36px;
  font-size: 15px;
  font-weight: 500;
  margin-right: 10px;
  white-space: nowrap;
}

.free-appointments {
  border: 2px solid #F9BA6E;
  color: #F39325;
  background: white;
  margin-right: 10px;
  /* padding: 8px 18px; reduce padding by border size */
}

.suggest-appointment {
  border: none;
  color: white;
  background: linear-gradient(90deg, #F28D00 0%, #F9BA6E 100%);
}

.call-start {
  content: url("../images/camera-on.svg");
  background: linear-gradient(90deg, #F28D00 0%, #F9BA6E 100%);
  height: 30px;
  padding: 5px;
  border-radius: 100px;
}


/** message area **/
/* hide avatar and name on every message */
.flex-container {
  display: flex;
  flex-direction: column;
  max-height: 100%;
  overflow: auto;
}

.rce-mbox-title {
  display: none;
}

/* format message box */
.rce-mbox {
  border: none;
  background: transparent;
  padding: 0;
  box-shadow: none;
  margin-bottom: 10px;
  margin-left: 10px;
}

.rce-mbox-text {
  font-size: 15px;
  line-height: 24px;
}

.rce-mbox-text::after {
  content: "";  
}

.rce-mbox-text {
  border-radius: 100px;
  padding: 6px 20px;
  font-weight: 300;
}

.rce-mbox-text.left {
  float: left;
  background-color: white;
  border: 1px solid rgba(0,0,0,0.06);
}

.rce-mbox-text.right {
  float: right;
  background-color: rgba(243, 147, 37, 0.27);
  margin-right: 6px;
}

.rce-mbox.rce-mbox-right {
  margin-right: 0;
}

.rce-mbox-time {
  position: relative;
  clear: both;
  bottom: inherit;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  padding-right: 16px;
  text-align: unset; /* need to unset here as there is no left class */
}

.rce-mbox-right .rce-mbox-time {
  text-align: right;
}

/* hide speech bubble notch */
.rce-mbox-right-notch, .rce-mbox-left-notch {
  display: none;
}


/** message input/sending area **/
/* input area */
.rce-input-textarea {
  margin: 15px;
  border-radius: 100px;
  padding-left: 16px;
  background-color: #F6F6F6;
  font-size: 16px;
  min-width: 0; /* not sure why this works!! */
}

/* send button */
.rce-input-buttons .rce-button {
  background: linear-gradient(43.07deg, #DB590B -3.02%, #F39325 93.96%) !important;
  border-radius: 100px;
  padding: 8px 6px;
  font-size: 14px;
  min-width: 66px;
  margin-right: 15px;
}

.chat-list {
  max-width: 100%;
}

.rce-container-citem{
  min-width: 0;
}

.right-panel {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.container {
  flex-grow: 1;
}

.flex-container {
  flex-grow: 1;
}

.right-panel .flex-container {
  height: 100px;
}

.call-sidebar .flex-container {
  min-height: 100px;
}

.rce-container-mlist.message-list {
  min-height: 100px;
  flex-grow: 1;
}

.content-area-right {
  margin: 10px;
}

.rce-citem-body {
  flex: unset;
  flex-grow: 1;
  width: 0;
}

.rce-citem {
  border-radius: 18px;
}

.rce-citem.selected {
  background-color: #F9FAFB;
  border: 1px solid rgba(0, 0, 0, 0.06);
  
}
