/**containers**/
.right-panel, .container > .chat-list {
  border-radius: 30px;
  border: 1px solid #E6E8EC;
}

.right-panel {
  padding: 25px;
  margin-left: 20px;
}

.right-panel .rce-container-input, .rce-container-mlist, .rce-navbar.light {
  background-color: #F9FAFB;
  border-radius: 18px;
  border: 1px solid rgba(0, 0, 0, 0.06);
}

.rce-citem {
  background: unset;
}

.right-panel .rce-container-input, .rce-container-mlist {
  margin-top: 18px;
}


/** left panel **/
.rce-sbar.light {
  background: none;
}

/* search bar */
.rce-sbar.light .rce-sbar-item input {
  margin: 25px;
  padding: 15px;
  color: #5F5F5F;
  font-family: "Signika Negative";
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.rce-citem-body {
  border-bottom: none;
}

.rce-sbar.light .rce-container-input input {
  background: #F9FAFB;
  border-radius: 10px;
}

/** message area **/
/* hide avatar and name on every message */
.rce-mbox-title {
  display: none;
}

/* set background colour */
.rce-mlist {
  background-color: #F9FAFB;
}

/* format message box */
.rce-mbox {
  border: none;
  background: transparent;
  padding: 0;
  box-shadow: none;
  margin-bottom: 10px;
  margin-left: 10px;
}

.rce-mbox-text {
  font-family: "Signika Negative";
  font-size: 15px;
  line-height: 24px;
}

.rce-mbox-text::after {
  content: "";  
}

.rce-mbox-text {
  border-radius: 100px;
  padding: 16px 24px;
}

.rce-mbox-text.left {
  float: left;
  background-color: white;
  border: 1px solid rgba(0,0,0,0.06);
}

.rce-mbox-text.right {
  float: right;
  background-color: #F39325;
  color: white;
}

.rce-mbox.rce-mbox-right {
  margin-right: 0;
}

.rce-mbox-time {
  position: relative;
  clear: both;
  bottom: inherit;
  font-family: "Signika Negative";
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  padding-right: 16px;
  text-align: unset; /* need to unset here as there is no left class */
}

.rce-mbox-right .rce-mbox-time {
  text-align: right;
}

/* hide speech bubble notch */
.rce-mbox-right-notch, .rce-mbox-left-notch {
  display: none;
}


/** message input/sending area **/
/* hide file upload */
.right-panel .rce-input-buttons:first-child {
  display: none;
}

/* input area */
.rce-input-textarea {
  margin: 15px;
  border-radius: 100px;
  padding-left: 16px;
  background-color: #F6F6F6;
  font-size: 16px;
}


/* send button */
.right-panel .rce-input-buttons:not(:first-child) .rce-button {
  background: #F39325 !important;
  border-radius: 100px;
  padding: 8px 6px;
  font-size: 14px;
  min-width: 66px;
  margin-right: 15px;
}
