.calendar-provider-link {
  display: grid;
  grid-template-columns: 20px 1fr;
  grid-gap: 12px;
  align-items: center;
  height: 40px;
  width: 100%;
  text-align: left;
  padding-left: 10px;
  background: none;
  border: none;
  font-size: 14px;
  text-decoration: none;
  color: #666;
}

.calendar-provider-link:hover {
  cursor: pointer;
  color: #111;
}

.icon__placeholder {
  display: block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
}


