table {
 
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    
  }
 
  /* tr:hover  */
  tr:hover {background-color: #FAF3EA}
  tr:hover  {background-color: #FAF3EA}
   .container {
    width: 100%;
    margin-top: 0.5rem;
    border: 1px solid #c1c1c1;
    border-radius: 15px;
    
 
  }
  .unselect-button {
    opacity: 0;
    cursor: default !important;
   }
  .close-button{
    background: #FAFAFB;
    width: 1.5rem;
    height: 1.5rem;
      color: #333;
   }
.container p {
  padding-left: 6px;
}
.selected {
  background-color: #FAF3EA;
}

  