/* hide ES-lint complaining on page load */
#webpack-dev-server-client-overlay {
  display: none;
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0 auto;
  background: url('./images/background.svg');
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-color: #f2dabc;
  display: flex;
  flex-direction: column;
}

body,
button {
  font-family: 'Signika Negative', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* scrollbars */
.rce-mlist::-webkit-scrollbar {
  background: rgba(230, 232, 236, 0.6);
  box-shadow: inset 0px 5px 5px rgba(0, 0, 0, 0.15);
  border-radius: 100px;
  width: 10px;
}

.rce-mlist::-webkit-scrollbar-button {
  display: none;
}

.rce-mlist::-webkit-scrollbar-thumb {
  background: linear-gradient(43.07deg, #db590b -3.02%, #f39325 93.96%);
  border-radius: 100px;
}

.rce-mlist {
  scrollbar-width: thin;
  scrollbar-color: #f39325 rgba(230, 232, 236, 0.6);
}

/* all items that live on top of the main background */
.panel,
.notification-panel,
.chat-list-box,
.profile-detail > div,
.call-and-text,
.call-sidebar {
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-shadow: 1px 2px 5px rgb(0 0 0 / 7%);
  background: white;
  border-radius: 30px;
  box-sizing: border-box;
  padding: 20px;
}

input[type='radio'],
input[type='checkbox'] {
  display: none;
}

label {
  display: block;
}

input:checked + label {
  user-select: none;
}

/* prevent automatic link styling */
a {
  text-decoration: inherit;
  color: inherit;
}

button,
a {
  background: none;
  color: inherit;
  padding: 0;
  height: fit-content;
}

button img {
  display: block;
}

/* handle disabled buttons */
.disabled {
  display: none !important;
}

@media (width < 1024px) {
  body {
    background-image: none;
    background-color: #fff0e0;
  }
}

.waiting {
  animation-name: stretch;
  animation-duration: 0.7s;
  animation-timing-function: ease-out;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-play-state: running;

  pointer-events: none;

  display: unset;
  flex: unset;
  flex-direction: unset;
}

@keyframes stretch {
  0% {
    opacity: 0.8;
  }
  100% {
    opacity: 0.4;
  }
}
