/* hide ES-lint complaining on page load */
#webpack-dev-server-client-overlay {
  display: none;
}

#root {
  background-color: #ffffff;
}

html {
  height: 100%;
  background-color: #ffffff;
}

body {
  height: 100%;
  margin: 0 auto;
  background: url('./images/background.svg');
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
}

body,
button {
  font-family: 'Signika Negative', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* scrollbars */
.rce-mlist::-webkit-scrollbar {
  background: rgba(230, 232, 236, 0.6);
  box-shadow: inset 0px 5px 5px rgba(0, 0, 0, 0.15);
  border-radius: 100px;
  width: 10px;
}

.rce-mlist::-webkit-scrollbar-button {
  display: none;
}

.rce-mlist::-webkit-scrollbar-thumb {
  background: linear-gradient(43.07deg, #db590b -3.02%, #f39325 93.96%);
  border-radius: 100px;
}

.rce-mlist {
  scrollbar-width: thin;
  scrollbar-color: #f39325 rgba(230, 232, 236, 0.6);
}

input[type='radio'],
input[type='checkbox'] {
  display: none;
}

label {
  display: block;
}

input:checked + label {
  user-select: none;
}

/* prevent automatic link styling */
a {
  text-decoration: inherit;
  color: inherit;
}

button,
a {
  background: none;
  color: inherit;
  padding: 0;
  height: fit-content;
}

dialog {
  color: unset;
}

button img {
  display: block;
}

@media (width < 1024px) {
  body {
    background-image: none;
    background-color: #ffffff;
  }
}

.waiting {
  animation-name: stretch;
  animation-duration: 0.7s;
  animation-timing-function: ease-out;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-play-state: running;

  pointer-events: none;

  display: unset;
  flex: unset;
  flex-direction: unset;
}

@keyframes stretch {
  0% {
    opacity: 0.8;
  }
  100% {
    opacity: 0.4;
  }
}
