@import url("https://fonts.googleapis.com/css?family=Signika+Negative:300,400,500,600&subset=latin,latin-ext");

/* hide ES-lint complaining on page load */
#webpack-dev-server-client-overlay {
  display: none;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  background: url("./images/background.svg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-color: #f2dabc;
}

body, button {
  font-family: "Signika Negative", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
