@import url('https://fonts.googleapis.com/css?family=Signika+Negative:regular,bold,italic&subset=latin,latin-ext');

.call-setup-overlay {
  display: flex;
  position: fixed;
  height: 100%;
  width: 100%;
  backdrop-filter: blur(25px);
  background: rgba(0,0,0,0.3);
  overflow-y: scroll;
}

.call-setup-modal {
  margin: auto;
  background: white;
  border-radius: 35px;
  padding: 24px;
  border: 1px solid #D6D6D6;
  font-family: "Signika Negative";
}

/*titles area*/

.modal-top {
  display: table;
  width: 100%;
}

.modal-header, .modal-close {
  display: table-cell;
}

.modal-header .title, .modal-header .subtitle {
  margin: 7px 0;
}

.modal-header .title {
  color: #374151;
  font-size: 24px;
}
.modal-header .subtitle {
  color: #6B7280;
  font-size: 18px;
}

.modal-close {
  height: 60px;
  width: 60px;
  border-radius: 30px;
  margin-right: -18px;
}

/*video area*/

.video-container {
  position: relative;
  width: 576px;
  height: 276px;
  margin: 15px 0;
}

.video-container > video {
  height: 100%;
  width: 100%;
  border-radius: 20px;
}

.video-controls {
  display: flex;
  margin: 7px;
  margin-top: -60px;
}

.video-controls .push-right {
  margin-left: auto;
}

.video-controls .circle-button {
  height: 42px;
  width: 42px;
}

.video-controls > button {
  border-radius: 21px;
}

.video-controls .signal-button {
  font-weight: 600;
  padding: 10px 15px;
  background: white;
  border: none;
}
.video-controls .signal-button .signal-update {
  color: #F39325;
}

/*setting selection*/

.video-setup-dropdowns label {
  color: #5F5F5F;
  font-size: 14px;
}
.video-setup-dropdowns select {
  display: block;
  width: 100%;
  height: 44px;
  padding: 10px 14px;
  margin: 6px 0;
  border: 1px solid #E6E8EC;
  border-radius: 8px;
  box-sizing: border-box;
}

.video-setup-reset {
  color: #F39325;
  font-size: 20px;
  display: block;
  width: fit-content;
  margin: 20px auto;
}

.video-setup-confirm {
  color: white;
  background: #F39325;
  border-radius: 90px;
  width: 100%;
  height: 58px;
  border: none;
}
