@import url("https://fonts.googleapis.com/css?family=Signika+Negative:300,400,500,600&subset=latin,latin-ext");

/* hide ES-lint complaining on page load */
#webpack-dev-server-client-overlay {
  display: none;
}

html {
  height: 100%;
}

body {
  height: 100%;
  max-width: 1790px; /* 3 columns */
  margin: 0 auto;
  background: url("./images/background.svg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-color: #f2dabc;
  display: flex;
  flex-direction: column;
}

body,
button {
  font-family: "Signika Negative", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* scrollbars */
.rce-mlist::-webkit-scrollbar {
  background: rgba(230, 232, 236, 0.6);
  box-shadow: inset 0px 5px 5px rgba(0, 0, 0, 0.15);
  border-radius: 100px;
  width: 10px;
}

.rce-mlist::-webkit-scrollbar-button {
  display: none;
}

.rce-mlist::-webkit-scrollbar-thumb {
  background: linear-gradient(43.07deg, #db590b -3.02%, #f39325 93.96%);
  border-radius: 100px;
}

.rce-mlist {
  scrollbar-width: thin;
  scrollbar-color: #f39325 rgba(230, 232, 236, 0.6);
}

/* all items that live on top of the main background */
.panel,
.profile-box,
.match-status,
.sidebar,
.nav-bar-top,
.notification-panel,
.community-event,
.chat-list-box,
.show-chat .right-panel,
.show-profile .profile-box,
.main-page .header,
.profile-detail > div,
.show-profile .profile-box,
.modal-box,
.call-and-text,
.call-sidebar {
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-shadow: 1px 2px 5px rgb(0 0 0 / 7%);
  background: white;
  border-radius: 30px;
  box-sizing: border-box;
  padding: 20px;
}

/* hide top nav bar in all desktop by default */
@media screen and (width >= 1024px) {
  .nav-bar-top {
    display: none;
  }
}
/* hide switcher on all (for mobile) except main page */
.nav-bar-top .selector {
  display: none;
}

/* page header / title */
.main-page .header {
  font-weight: 700;
  font-size: 28px;
  display: flex;
  height: 84px;
  box-sizing: border-box;
  align-items: center;
  text-transform: capitalize;
  justify-content: space-between;
}

@media screen and (width < 1024px) {
  .main-page .header {
    display: none;
  }
}

.main-page .header .text {
  margin-left: 12px;
}

/* parent items of above elements, setting consistent gap between */
@media screen and (width >= 1024px) {
  .main-page,
  .main-page .content-area,
  .main-page .content-area-main,
  .show-chat .container,
  .profile-component,
  .profile-component .content,
  .call-screen {
    gap: 30px;
  }
}

input[type="radio"],
input[type="checkbox"] {
  display: none;
}

label {
  display: block;
}

/* button hover */
input:not([type="radio"]:checked) + label:hover,
button:not(.selected):hover,
a:not(.selected):hover {
  filter: brightness(120%) contrast(120%);
  cursor: pointer;
  box-shadow: 0 0 10px 3px rgb(0 0 0 / 11%), 0 0 8px 6px rgb(255 255 255 / 15%);
}

input:checked + label {
  user-select: none;
}

/* prevent automatic link styling */
a {
  text-decoration: inherit;
  color: inherit;
}

button,
a {
  background: none;
  border: 1px solid rgba(0, 0, 0, 0.06);
  color: inherit;
  padding: 0;
  height: fit-content;
}

button::first-letter,
button .text::first-letter,
label::first-letter,
input[type="radio"] + label,
h1,
h2,
h3 {
  text-transform: capitalize;
}

a,
button,
label {
  border-radius: 100px;
}

button img {
  display: block;
}

/* handle disabled buttons */
.disabled {
  pointer-events: none;
  filter: grayscale(1);
  opacity: 0.5;
}

/* button press */
input:not([type="radio"]:checked):active + label,
button:not(.selected):active,
a:not(.selected):active {
  transform: translate(2px, 2px);
}

label,
button,
a {
  transition: transform 0.1s ease !important;
}

@media (width < 1024px) {
  body {
    background-image: none;
    background-color: #fff0e0;
  }
}

img.logo-image {
  content: url("./images/logo-image.svg");
  max-width: 100%;
  height: 100%;
}

img.logo-text {
  content: url("./images/logo-text.svg");
  max-width: 100%;
}

.waiting {
  animation-name: stretch;
  animation-duration: 0.7s;
  animation-timing-function: ease-out;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-play-state: running;

  pointer-events: none;

  display: unset;
  flex: unset;
  flex-direction: unset;
}

@keyframes stretch {
  0% {
    opacity: 0.8;
  }
  100% {
    opacity: 0.4;
  }
}

.overlay-shade {
  display: flex;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  backdrop-filter: blur(5px);
  transition: 1s;
  background: rgba(0, 0, 0, 0.3);
  overflow-y: scroll;
  padding-top: 4px;
}

.overlay-shade.hidden {
  backdrop-filter: blur(0);
  background: none;
  pointer-events: none;
  overflow: hidden;
}

.modal-box {
  margin: auto;
  z-index: 3;
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 30px;
}

@media screen and (width < 1024px) {
  .overlay-shade {
    padding: 0;
  }

  .modal-box {
    height: 100%;
    width: 100%;
    border-radius: unset;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
  }
}
