@import url("https://fonts.googleapis.com/css?family=Signika+Negative:300,400,500,600&subset=latin,latin-ext");

/* hide ES-lint complaining on page load */
#webpack-dev-server-client-overlay {
  display: none;
}

html,
body {
  height: 100%;
  max-width: 1790px; /* 3 columns */
}

body {
  margin: 0;
  background: url("./images/background.svg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-color: #f2dabc;
  display: flex;
  flex-direction: column;
}

body,
button {
  font-family: "Signika Negative", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* scrollbars */
.rce-mlist::-webkit-scrollbar {
  background: rgba(230, 232, 236, 0.6);
  box-shadow: inset 0px 5px 5px rgba(0, 0, 0, 0.15);
  border-radius: 100px;
  width: 10px;
}

.rce-mlist::-webkit-scrollbar-button {
  display: none;
}

.rce-mlist::-webkit-scrollbar-thumb {
  background: linear-gradient(43.07deg, #db590b -3.02%, #f39325 93.96%);
  border-radius: 100px;
}

.rce-mlist {
  scrollbar-width: thin;
  scrollbar-color: #f39325 rgba(230, 232, 236, 0.6);
}

/* all items that live on top of the main background */
.panel,
.profile-box,
.match-status,
.sidebar,
.nav-bar-top,
.notification-panel,
.community-event,
.chat-list-box,
.show-chat .right-panel,
.show-profile .profile-box,
.main-page .header,
.profile-detail > div,
.show-profile .profile-box,
.call-setup-modal,
.overlay-modal,
.edit-modal,
.call-and-text,
.call-sidebar {
  border: 1px solid #e6e8ec;
  box-shadow: 1px 2px 5px rgb(0 0 0 / 7%);
  background: white;
  border-radius: 30px;
  box-sizing: border-box;
  padding: 20px;
}

@media screen and (width < 1024px) {
  .panel,
  .profile-box,
  .match-status,
  .sidebar,
  .nav-bar-top,
  .notification-panel,
  .community-event,
  .chat-list-box,
  .show-chat .right-panel,
  .show-profile .profile-box,
  .main-page .header,
  .profile-detail > div,
  .show-profile .profile-box,
  .call-setup-modal,
  .overlay-modal,
  .edit-modal,
  .call-and-text,
  .call-sidebar {
    border-radius: unset;
  }
}

/* hide top nav bar in all desktop by default */
@media screen and (width >= 1024px) {
  .nav-bar-top {
    display: none;
  }
}
/* hide switcher on all (for mobile) except main page */
.nav-bar-top .selector {
  display: none;
}

/* page header / title */
.main-page .header {
  font-weight: 700;
  font-size: 28px;
  display: flex;
  height: 1em;
  box-sizing: content-box;
  align-items: center;
  text-transform: capitalize;
}

.main-page .header .text {
  margin-left: 6px;
}

/* parent items of above elements, setting consistent gap between */
@media screen and (width >= 1024px) {
  .main-page,
  .main-page .content-area,
  .main-page .content-area-main,
  .show-chat .container,
  .profile-component,
  .profile-component .content,
  .call-screen {
    gap: 30px;
  }
}

input[type="radio"],
input[type="checkbox"] {
  display: none;
}

label {
  display: block;
}

/* button hover */
input:not([type="radio"]:checked) + label:hover,
button:not(.selected):hover,
a:not(.selected):hover {
  filter: brightness(120%) contrast(120%);
  cursor: pointer;
  box-shadow: 0 0 10px 3px rgb(0 0 0 / 11%), 0 0 8px 6px rgb(255 255 255 / 15%);
}

input:checked + label {
  user-select: none;
}

/* prevent automatic link styling */
a {
  text-decoration: inherit;
  color: inherit;
}

button {
  background: none;
  border: none;
  color: inherit;
  padding: 0;
  height: fit-content;
}

button::first-letter,
label::first-letter,
input[type="radio"] + label,
h1,
h2,
h3 {
  text-transform: capitalize;
}

a,
button,
label {
  border-radius: 100px;
}

button img {
  display: block;
}

/* handle disabled buttons */
.disabled {
  pointer-events: none;
  filter: grayscale(1);
  opacity: 0.5;
}

/* button press */
input:not([type="radio"]:checked):active + label,
button:not(.selected):active,
a:not(.selected):active {
  transform: translate(2px, 2px);
}

label,
button,
a {
  transition: transform 0.1s ease !important;
}

@media (width < 1024px) {
  body {
    background-image: none;
    background-color: #fff0e0;
  }
}
