@import "video.css";

.call-setup-overlay {
  display: flex;
  position: fixed;
  height: 100%;
  width: 100%;
  backdrop-filter: blur(25px);
  background: rgba(0,0,0,0.3);
  overflow-y: scroll;
  padding-top: 4px;
}

.call-setup-modal {
  margin: auto;
  background: white;
  border-radius: 35px;
  padding: 24px;
  border: 1px solid #D6D6D6;
  display: flex;
  flex-direction: column;
}

/*titles area*/

.modal-top {
  display: flex;
}

.modal-header, .modal-close {
  display: table-cell;
}

.modal-header .title, .modal-header .subtitle {
  margin: 7px 0;
}

.modal-header .title {
  color: #374151;
  font-size: 24px;
}
.modal-header .subtitle {
  font-weight: 300;
  color: #A6A6A6;
  font-size: 18px;
}

.modal-close {
  margin-left: auto;
  height: 60px;
  width: 60px;
  border-radius: 30px;
  background-image: url("images/close-pop-up.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(230, 232, 236, 0.2);
  border: 2px solid rgba(230, 232, 236, 0.2);
  box-sizing: border-box;
}

/*setting selection*/

.modal-top a {
  text-decoration: none;
}

.av-setup-dropdowns {
  margin-bottom: 40px;
}

.av-setup-dropdowns label {
  font-weight: 500;
  font-size: 16px;
  color: #363535;
}

.av-setup-dropdowns select {
  display: block;
  width: 100%;
  height: 44px;
  margin: 6px 0;
  padding: 10px 14px 10px 44px;
  background-position: -30px;
  background-origin: content-box;
  background-repeat: no-repeat;
  background-color: rgba(230, 232, 236, 0.2);
  border: 1px solid #E6E8EC;
  border-radius: 8px;
  box-sizing: border-box;
  font-family: "Signika Negative";
  font-size: 15px;
  color: #A6A6A6;
}

.av-setup-dropdowns select:focus-visible {
  outline:  auto;
}

.webcam-select select {
  background-image: url("./images/camera.svg");
}
.mic-select select {
  background-image: url("./images/microphone.svg");
}
.speaker-select select {
  background-image: url("./images/speaker.svg");
}

.av-setup-confirm {
  margin-top: auto;
}

.av-setup-confirm {
  color: white;
  background: linear-gradient(43.07deg, #DB590B -3.02%, #F39325 93.96%);
  border-radius: 90px;
  line-height: 58px;
  text-align: center;
}

@media screen and (width < 1024px) {
  .call-setup-overlay {
    padding: 0;
  }

  .call-setup-modal {
    min-height: 100%;
    width: 100%;
    border-radius: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
  }
}