@import "video.css";

/* non-fullscreen view */
.call-screen {
    overflow: hidden;
    display: flex;
    flex-direction: row;
    padding: 20px;
    box-sizing: border-box;
    min-height: 100vh;
}

.call-and-text, .translation-box textarea, .sidebar-selector, .sidebar-content,
.sidebar-content .questions-content > div, .questions-content label,
.message.local {
    border: 1px solid #E6E8EC;
    box-sizing: border-box;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.03);
}

.call-and-text {
    width: 75%;
    position: relative; /* makes positioning of inset video in reference to this element */
    display: flex;
    flex-direction: column;
    background: white;
    border-radius: 35px;
    padding: 10px;
}

.video-border {
    border-radius: 30px;
    overflow: hidden;
}

#foreign-container, .video-border, .video-container {
    aspect-ratio: 16/9;
}

.video-container {
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.translation-box {
    min-height: 200px;
    height: 25%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-grow: 1;
}

.translation-box > div {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 15px;
}

.translation-box select {
    height: 42px;
    width: 100%;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #363535;
    border-radius: 15px;
    background-color: white;
    padding: 0 10px;
}

img.swap-languages {
    height: 20px;
    margin: 10px -10px;
    padding: 10px;
    cursor: pointer;
    content: url("./images/switch-language.svg");
}

.translation-box textarea {
    resize: none;
    flex-grow: 1;
    background: #F9F9F9;
    border-radius: 25px;
    margin-top: 10px;
    font-weight: 300;
    font-size: 20px;
    line-height: 25px;
    padding: 10px;
    color: #A6A6A6;
}

/*sidebar*/

.call-sidebar {
    width: 25%;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}

.sidebar-selector {
    background-color: white;
    border-radius: 20px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    padding: 12px;
}

.sidebar-selector input {
    appearance: none;
}
.sidebar-selector input + label {
    padding: 15px 10px;
    border-radius: 23px;
    font-style: normal;
    font-weight: 600;
    font-size: 21px;
    line-height: 20px;
    color: #36A9E0;
}

.sidebar-selector input:checked + label {
    background: linear-gradient(50.19deg, #36A9E0 2.84%, #0367B2 106.82%);
    color: white;
}

.sidebar-content {
    background-color: white;
    border-radius: 16px;
    flex-grow: 1;
    padding: 10px;
    overflow: auto;
    height: 100px;
}

.questions-categories {
    display: flex;
    align-items: center;
    height: 44px;
}

.questions-categories input {
    appearance: none;
}

.questions-categories .questions-left, .questions-categories .questions-right {
    border-radius: 100px;
}

.questions-categories .questions-left img {
    content: url("./images/arrow-left.svg");
}

.questions-categories .questions-right img {
    content: url("./images/arrow-right.svg");
}

.questions-categories .categories {
    display: flex;
    overflow-x: hidden;
}

.call-sidebar .questions span, .sidebar-selector span {
    display: inherit;
}

.questions-categories .categories input + label {
    padding: 10px;
    border-radius: 23px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    white-space: nowrap;
}

.questions-categories .categories input:checked + label {
    background: linear-gradient(43.07deg, #DB590B -3.02%, #F39325 93.96%);
    color: white;
}

.questions-content {
    display: flex;
    flex-direction: column;
}

.questions-content input {
    appearance: none;
}

.questions-content label {
    padding: 15px;
    border-radius: 18px;
    margin-top: 10px;
    background: #F9FAFB;
    width: 100%;
}

.questions-content input:checked + label {
    border: 1px solid red;
    box-sizing: border-box;
}

.questions-content input:not(:checked) + label {
}

.questions-content .question-action {
    height: 28px;
    margin-top: 5px;
}

.question-action button {
    border-radius: 20px;
}

.question-action .yes img {
    content: url("./images/check.svg");
}

.question-action .edit img {
    content: url("./images/edit.svg");
}

.question-action .no img {
    content: url("./images/close.svg");
}

@media screen and (max-width: 1023px) {
    .call-sidebar, .translation-box {
        display: none;
    }
    
    body, .call-screen, .call-and-text, .video-border {
        display: contents;
    }
}