@import 'video.css';

/*titles area*/

.modal-box .subtitle {
  font-weight: 300;
  color: #a6a6a6;
  font-size: 18px;
  text-align: center;
}

/*setting selection*/

.av-setup-dropdowns label {
  font-weight: 500;
  font-size: 16px;
  color: #363535;
}

.av-setup-dropdowns select {
  display: block;
  width: 100%;
  height: 44px;
  margin: 6px 0;
  padding: 10px 14px 10px 44px;
  background-position: -30px;
  background-origin: content-box;
  background-repeat: no-repeat;
  background-color: rgba(230, 232, 236, 0.2);
  border: 1px solid #e6e8ec;
  border-radius: 8px;
  box-sizing: border-box;
  font-family: 'Signika Negative';
  font-size: 15px;
  color: #a6a6a6;
}

.av-setup-dropdowns select:focus-visible {
  outline: auto;
}

.webcam-select select {
  background-image: url('./images/camera.svg');
}
.mic-select select {
  background-image: url('./images/microphone.svg');
}
.speaker-select select {
  background-image: url('./images/speaker.svg');
}

.av-setup-confirm {
  margin-top: auto;
}

.av-setup-confirm {
  color: white;
  background: linear-gradient(43.07deg, #db590b -3.02%, #f39325 93.96%);
  line-height: 58px;
  text-align: center;
}

/*incoming call*/
.incoming-call-modal .modal-close {
  padding: 10px;
  width: 41px;
  height: 41px;
  background-color: rgba(230, 232, 236, 0.2);
  border: 2px solid rgba(230, 232, 236, 0.2);
  border-radius: 40px;
  filter: grayscale(1);
  margin-bottom: 10px;
}

.incoming-call-modal .content {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.incoming-call-modal .profile-avatar,
.incoming-call-modal .profile-image {
  width: 364px;
  height: 182px;
  border-radius: 20px;
}

.message-text {
  align-self: center;
  font-weight: 600;
  font-size: 24px;
  color: #23262f;
}

.incoming-call-modal .buttons {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
