/* non-fullscreen view */
.call-screen {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: 30px;
  box-sizing: border-box;
  height: 100vh;
}

.translation-box textarea,
.sidebar-content .questions-content > div,
.questions-content label,
.message.local {
  border: 1px solid #e6e8ec;
  box-sizing: border-box;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.03);
}

.call-and-text {
  width: 75%;
  position: relative; /* makes positioning of inset video in reference to this element */
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.video-border {
  border-radius: 20px;
  overflow: hidden;
}

#foreign-container,
.video-border,
.video-container {
  aspect-ratio: 16/9;
}

@media screen and (width >= 1024px) {
  #foreign-container video {
    object-fit: contain;
  }
}

.video-container {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.translation-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-grow: 1;
  gap: 10px;
}

.translation-box > div {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 20px;
}

.translation-box select {
  height: 40px;
  width: 100%;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #363535;
  border-radius: 20px;
  background-color: white;
  padding: 0 10px;
}

.swap-languages {
  padding: 10px;
  transition: transform 0.4s ease !important;
}

.swap-languages.swapped {
  transform: rotate(180deg);
}

.swap-languages img {
  content: url('./images/switch-language.svg');
  height: 20px;
}

.translation-box textarea {
  resize: none;
  flex-grow: 1;
  background: #f9f9f9;
  border-radius: 20px;
  font-weight: 300;
  font-size: 20px;
  line-height: 25px;
  padding: 10px;
  color: #a6a6a6;
  box-sizing: content-box;
  min-height: 5em;
}

/*sidebar*/
.sidebar-content {
  flex-grow: 1;
  overflow: auto;
  height: 100px;
  display: flex;
}

.questions {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.questions-categories {
  display: flex;
  align-items: center;
}

.questions-categories input {
  appearance: none;
}

.right-arrow-image img {
  content: url('./images/arrow-right.svg');
}

.left-arrow-image img {
  content: url('./images/arrow-left.svg');
}

.accept-question-icon {
  content: url('./images/check.svg');
}

.right-scroll-icon {
  content: url('./images/arrow-right.svg');
}

.left-scroll-icon {
  content: url('./images/arrow-left.svg');
}

.unarchive-question-icon {
  content: url('./images/unarchive_question.svg');
  width: 28px;
  height: 28px;
}

.questions-categories .categories {
  display: flex;
  overflow-x: hidden;
  padding: 2px;
}

.call-sidebar .questions span {
  display: inherit;
}

.questions-categories .categories button {
  padding: 10px;
  border-radius: 23px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  white-space: nowrap;
  border: 2px solid #ef8a21;
  margin: 0 6px;
  box-sizing: border-box;
}

.questions-categories .categories button.selected {
  background: linear-gradient(43.07deg, #db590b -3.02%, #f39325 93.96%);
  color: white;
}

.questions-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.questions-content > div {
  border: 1px solid rgb(0 0 0 / 5%);
  box-sizing: border-box;
  border-radius: 18px;
  margin-top: 10px;
  background: #f9fafb;
  width: 100%;
  display: block;
  display: flex;
  flex-direction: column;
}

.questions-content > div > button {
  padding: 15px;
  font-size: unset;
  width: 100%;
  border-radius: inherit;
}

.questions-content div.selected {
  border-color: red;
  padding: 15px;
}
.questions-content button.selected {
  padding: 0;
}

.questions-content .question-action {
  height: 28px;
  margin-top: 5px;
}

.question-action .yes img {
  content: url('./images/check.svg');
}

.question-action .edit img {
  content: url('./images/edit.svg');
}

.question-action .no img {
  content: url('./images/close.svg');
}

@media screen and (width < 1024px) {
  .call-screen,
  .call-and-text,
  .video-border {
    display: contents;
  }
}

.call-drawer-container {
  display: none;
  width: 100%;
  position: absolute;
  bottom: 0;
  top: 100%;
  box-sizing: border-box;
  padding: 0 10px;
  transition: top 0.2s linear;
}

.archived-category-fields {
  padding: 0.5rem 1rem;
}

@media screen and (width < 1024px) and (orientation: portrait) {
  .call-drawer-container {
    display: flex;
    top: 68px;
  }

  .call-drawer-container.null {
    top: 100%;
  }

  .call-drawer .translation-box {
    display: flex;
    flex-direction: column;
    padding: 10px;
    padding-top: 0;
  }

  .swap-languages {
    margin: 0 auto;
    transform: rotate(90deg);
  }
}

.call-drawer {
  flex-grow: 1;
  background-color: white;
  border-radius: 16px 16px 0 0;
  display: flex;
  flex-direction: column;
  padding: 0 15px;
  width: 100%;
  box-sizing: border-box;
}

button.arrow-down {
  background: none;
  border: none;
  display: block;
  padding: 10px;
  align-self: center;
}

.arrow-down img {
  content: url('./images/arrow-down.svg');
}

.drawer-content {
  display: flex;
  flex-grow: 1;
}

.image-for-is_favorite-notes {
  content: url('./images/favorite.svg');
}

.image-for-is_archived-notes {
  content: url('./images/archive_icon.svg');
}

.image-for-is_deleted-notes {
  content: url('./images/delete_icon.svg');
}

.add-fovorite .favorite-icon {
  width: 22px;
  content: url('./images/favorite.svg');
}

.add-fovorite .unfavorite-icon {
  width: 22px;
  content: url('./images/star.svg');
}

.add-archives img {
  width: 22px;
  content: url('./images/archive_icon.svg');
}

.remove-note img {
  width: 22px;
  content: url('./images/delete_icon.svg');
}

.restore-note img {
  width: 22px;
  content: url('./images/restore_icon.svg');
}

@media (max-width: 600px) {
  .responsive-text {
    display: none;
  }
}
