.questions {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.accept-question-icon {
  content: url('./images/check.svg');
}

.unarchive-question-icon {
  content: url('./images/unarchive_question.svg');
  width: 28px;
  height: 28px;
}

.add-fovorite .favorite-icon {
  width: 22px;
  content: url('./images/favorite.svg');
}

.add-fovorite .unfavorite-icon {
  width: 22px;
  content: url('./images/star.svg');
}

.add-archives img {
  width: 22px;
  content: url('./images/archive_icon.svg');
}

.remove-note img {
  width: 22px;
  content: url('./images/delete_icon.svg');
}

.restore-note img {
  width: 22px;
  content: url('./images/restore_icon.svg');
}
