#foreign-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0,0,0,0.1);
}

video {
    width: 100%;
    pointer-events: none;
}

.local-video-container.inset {
    position: absolute;
    top: 10px;
    right: 25px;
    width: 30%;
}

.local-video-container > video {
    border-radius: 10px;
}

.foreign-video-container .video-controls input#audio-toggle + label {
    margin-left: unset;
}

/* non-fullscreen view */
.call-screen {
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    background: #f5f5f5;
    padding: 20px;
}

.call-and-text, .translation-box textarea, .sidebar-selector, .sidebar-content,
.sidebar-content .questions-content > div, .questions-content label, .chat-messages, .chat-compose,
.message.local {
    border: 1px solid #E6E8EC;
    box-sizing: border-box;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.03);
}

.call-and-text {
    width: 75%;
    position: relative; /* makes positioning of inset video in reference to this element */
    display: flex;
    flex-direction: column;

    background: white;
    border-radius: 35px;
    padding: 10px;
}

.foreign-video-container {
    height: 75%;
    border-radius: 30px;
    overflow: hidden;
}

.translation-box {
    height: 25%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.translation-box > div {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 15px;
}

.translation-box select {
    height: 42px;
    width: 100%;
    font-weight: 600;
    font-family: "Signika Negative";
    font-size: 18px;
    line-height: 22px;
    color: #363535;
    border-radius: 15px;
    background-color: white;
    padding: 0 10px;
}

img.swap-languages {
    height: 20px;
    margin-top: 20px;
    content: url("./images/switch-language.svg");
}

.translation-box textarea {
    resize: none;
    flex-grow: 1;
    background: #F9F9F9;
    border-radius: 25px;
    margin-top: 10px;
    font-family: "Signika Negative";
    font-weight: 300;
    font-size: 20px;
    line-height: 25px;
    padding: 10px;
    color: #A6A6A6;
}

/*sidebar*/

.call-sidebar {
    width: 25%;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}

.sidebar-selector {
    background-color: white;
    border-radius: 20px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    padding: 12px;
}

.sidebar-selector input {
    appearance: none;
}
.sidebar-selector input + label {
    padding: 15px 10px;
    border-radius: 23px;
    font-family: "Signika Negative";
    font-style: normal;
    font-weight: 600;
    font-size: 21px;
    line-height: 20px;
    color: #36A9E0;
}

.sidebar-selector input:checked + label {
    background: linear-gradient(50.19deg, #36A9E0 2.84%, #0367B2 106.82%);
    color: white;
}

.sidebar-content {
    background-color: white;
    border-radius: 16px;
    flex-grow: 1;
    padding: 10px;
}

.questions-categories {
    display: flex;
    align-items: center;
    height: 44px;
}

.questions-categories input {
    appearance: none;
}

.questions-categories label {
    cursor: pointer;
}

.questions-categories img.questions-left {
    content: url("./images/arrow-left.svg");
}

.questions-categories img.questions-right {
    content: url("./images/arrow-right.svg");
}

.questions-categories .categories {
    display: flex;
    overflow-x: hidden;
}

.call-sidebar span {
    display: inherit;
}

.questions-categories .categories input + label {
    padding: 10px;
    border-radius: 23px;
    font-family: "Signika Negative";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    white-space: nowrap;
}

.questions-categories .categories input:checked + label {
    background: linear-gradient(43.07deg, #DB590B -3.02%, #F39325 93.96%);
    color: white;
}

.questions-content {
    display: flex;
    flex-direction: column;
    overflow-x: scroll;
}

.questions-content input {
    appearance: none;
}

.questions-content label {
    padding: 15px;
    border-radius: 18px;
    margin-top: 10px;
    background: #F9FAFB;
    width: 100%;
}

.questions-content input:checked + label {
    border: 1px solid red;
    box-sizing: border-box;
}

.questions-content .question-action {
    height: 28px;
    margin-top: 5px;
}

.question-action img.yes {
    content: url("./images/check.svg");
}

.question-action img.edit {
    content: url("./images/edit.svg");
}

.question-action img.no {
    content: url("./images/close.svg");
}

/* chat */
.sidebar-content .chat {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.sidebar-content .chat-messages {
    flex-grow: 1;
    background: #F9FAFB;
    margin: 5px;
    border-radius: 18px;
}

.sidebar-content .chat-compose {
    background: #F9FAFB;
    border-radius: 18px;
}

.chat-compose {
    background-color: #F9FAFB;
    display: flex;
    flex-direction: row;
    margin: 5px;
    padding: 10px 15px;
}

.chat-compose input {
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.06);
    box-sizing: border-box;
    border-radius: 18px;
    height: 36px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    align-items: center;
    padding: 0 15px;
    flex-grow: 1;
    width: 160px;
}

.chat-compose .send {
    background: linear-gradient(43.07deg, #DB590B -3.02%, #F39325 93.96%);
    border-radius: 20px;
    color: white;
    height: 34px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    border: none;
    margin-left: 10px;
    padding: 8px 16px;
}

.chat-messages {
    padding-top: 10px;
}

.chat-messages .message {
    line-height: 24px;
    margin: 6px 10px;
    display: inline-flex;
    padding: 8px 16px;
    border-radius: 20px;
}

.message.foreign {
    background-color: #F3E0CA;
    margin-left: 25px;
}

.message.local {
    margin-right: 25px;
}
