@import "video.css";

.call-setup-overlay {
  display: flex;
  position: fixed;
  height: 100%;
  width: 100%;
  backdrop-filter: blur(25px);
  background: rgba(0,0,0,0.3);
  overflow-y: scroll;
  padding-top: 4px;
}

.call-setup-modal {
  margin: auto;
  background: white;
  border-radius: 35px;
  padding: 24px;
  border: 1px solid #D6D6D6;
  display: flex;
  flex-direction: column;
}

/*titles area*/

.modal-top {
  display: table;
  width: 100%;
}

.modal-header, .modal-close {
  display: table-cell;
}

.modal-header .title, .modal-header .subtitle {
  margin: 7px 0;
}

.modal-header .title {
  color: #374151;
  font-size: 24px;
}
.modal-header .subtitle {
  color: #6B7280;
  font-size: 18px;
}

.modal-close {
  height: 60px;
  width: 60px;
  border-radius: 30px;
  margin-right: -18px;
  background-image: url("images/close-pop-up.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(230, 232, 236, 0.2);
  border: 2px solid rgba(230, 232, 236, 0.2);
  box-sizing: border-box;
}

/*setting selection*/

.modal-top a {
  text-decoration: none;
}

.av-setup-dropdowns {
  margin-bottom: 40px;
}

.av-setup-dropdowns label {
  color: #5F5F5F;
  font-size: 14px;
}

.av-setup-dropdowns select {
  display: block;
  width: 100%;
  height: 44px;
  padding: 10px 14px;
  margin: 6px 0;
  border: 1px solid #E6E8EC;
  border-radius: 8px;
  box-sizing: border-box;
}

.av-setup-confirm {
  margin-top: auto;
}

.av-setup-confirm button {
  color: white;
  background: linear-gradient(43.07deg, #DB590B -3.02%, #F39325 93.96%);
  border-radius: 90px;
  width: 100%;
  height: 58px;
  border: none;
}

@media screen and (max-width: 1023px) {
  .call-setup-overlay {
    padding: 0;
  }

  .call-setup-modal {
    min-height: 100%;
    width: 100%;
    border-radius: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
  }
}