#foreign-container {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

video {
    width: 100%;
    pointer-events: none;
}

.local-video-container.inset {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30%;
}

.local-video-container > video {
    border-radius: 10px;
}

.foreign-video-container .video-controls input#audio-toggle + label {
    margin-left: unset;
}