.questions {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.add-fovorite .favorite-icon {
  width: 22px;
}

.add-fovorite .unfavorite-icon {
  width: 22px;
}

.add-archives img {
  width: 22px;
}

.remove-note img {
  width: 22px;
}

.restore-note img {
  width: 22px;
}
