.community-calls {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex: 1 1 0;
  max-width: 1200px;

  @media screen and (width < 1024px) {
    padding: 16px;
  }
}

.community-event {
  display: flex;
  gap: 20px;
}

.frequency {
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
}

.frequency img {
  content: url('./images/coffee.webp');
}

/* main area */
.community-event .main {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: space-evenly;
  flex: 1 1 100%;
}

.community-event .buttons {
  display: flex;
  gap: 10px;
  justify-content: space-evenly;
}

.community-event .buttons button {
  background: rgba(230, 232, 236, 0.2);
  border: 2px solid rgba(230, 232, 236, 0.2);
  border-radius: 25px;
  flex: 0 1 max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 20px;
}

.community-event button .text {
  font-size: 14px;
  color: rgb(75, 76, 79);
}

.community-event .buttons button img {
  width: 40px;
}

.community-event button.appointment img {
  content: url('./images/new-appointment.svg');
}

.community-event button.call img {
  content: url('./images/call-orange.svg');
  width: 40px;
  height: 40px;
}

.community-event .dateTime {
  flex: 1 1 180px;
  width: 180px; /* used to decide shrinking priority and affects min-width */
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  justify-content: center;
}

.dateTime .date {
  font-weight: 700;
  font-size: 55px;
}

.dateTime .weekday,
.dateTime .month,
.dateTime .time {
  font-weight: 600;
  font-size: 30px;
  text-transform: uppercase;
}

@media screen and (width < 1024px) {
  .community-event {
    flex-direction: column;
  }

  .community-event .main button {
    padding: 10px 0;
    flex-grow: 1;
  }

  .community-event .dateTime {
    flex-direction: row;
    flex: unset;
    gap: 20px;
  }
  .community-event .dateTime > div {
    font-size: 30px;
    font-weight: 600;
  }
}
