.help-contact {
  flex-grow: 1;
}

.picture-drop-zone img {
  content: url("./images/picture.svg");
}

.help-support {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.help-support .logos {
  width: 150px;
  display: flex;
  flex-direction: column;
  margin: 30px;
}

h2.support {
  margin: 0;
}

.contact-buttons {
  display: flex;
  gap: 20px;
  width: 100%;
  box-sizing: border-box;
  padding: 30px 0;
}

.contact-buttons button {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 25px;
  background: rgba(230, 232, 236, 0.2);
  justify-content: center;
  font-size: 14px;
  flex-grow: 1;
  padding: 15px;
}

.contact-buttons button img {
  height: 48px;
}

button.support-message img {
  content: url("./images/chat-orange.svg");
}

button.support-call img {
  content: url("./images/call-orange.svg");
}

.help-support .contact-info {
  display: flex;
  background: rgba(230, 232, 236, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.12);
  padding: 18px;
  border-radius: 10px;
  margin-top: auto;
  gap: 30px;
}

.help-support .contact-info .bottom {
  display: flex;
}

.help-support .contact-info .contacts {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.help-support .contact-info .contacts div {
  display: flex;
  gap: 5px;
}

.help-support .logos-small {
  height: 30px;
  display: flex;
}

.logos-small .logo-text {
  margin: 3px;
}

.business-name {
  color: rgb(54, 169, 224);
  font-size: 12px;
  margin: 6px 0;
}

.help-support .bottom {
  font-size: 14px;
  font-weight: 300;
  color: #4b4c4f;
}

img.logo-image {
  content: url("./images/logo-image.svg");
}

img.logo-text {
  content: url("./images/logo-text.svg");
}

img.web-icon {
  content: url("./images/icons/web.svg");
}

img.email-icon {
  content: url("./images/icons/email.svg");
}

img.phone-icon {
  content: url("./images/icons/phone.svg");
}

img.mobile-icon {
  content: url("./images/icons/mobile.svg");
}

.socials {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-left: auto;
  justify-content: end;
}

.socials img {
  display: flex;
  padding: 5px;
}

.socials img.icon-linkedin {
  content: url("./images/icons/linkedin.svg");
}

.socials img.icon-facebook {
  content: url("./images/icons/facebook.svg");
}

.socials img.icon-instagram {
  content: url("./images/icons/instagram.svg");
}
