.help.panel {
  display: flex;
  flex-grow: 1;
}

.help-contact {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 35px;
  max-width: 600px;
  margin: auto;
}

.help-contact h2 {
  margin: 0;
}

.help-contact p {
  font-size: 14px;
  font-weight: 300;
  margin: 0;
}

.help-contact textarea {
  resize: none;
  height: 122px;
  font-family: "Signika Negative";
  padding: 15px;
  font-size: 14px;
}

.help-contact textarea,
.picture-drop-zone {
  width: 100%;
  border: 1px solid rgb(0 0 0 / 10%);
  background: rgba(230, 232, 236, 0.2);
  border-radius: 10px;
  box-sizing: border-box;
}

.picture-drop-zone {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  box-sizing: border-box;
}

.picture-drop-zone input {
  display: none;
}

.picture-drop-zone.dragover {
  border-width: 4px;
  border-style: dashed;
  filter: brightness(120%) contrast(120%);
}

.picture-drop-zone.dragover * {
  pointer-events: none;
}

.picture-drop-zone button {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  color: #36a9e0;
  font-weight: 600;
  font-size: 16px;
}

.picture-drop-zone img {
  content: url("./images/picture.svg");
  height: 32px;
  width: 32px;
}

.picture-drop-zone .drag-text {
  font-weight: 300;
  font-size: 15px;
  color: #5f5f5f;
}

.contact-submit {
  color: white;
  font-weight: 700;
  font-size: 14px;
  background: linear-gradient(43.07deg, #db590b -3.02%, #f39325 93.96%);
  margin-left: auto;
  margin-top: auto;
  padding: 12px 20px;
}

.help-support {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  margin-left: auto;
  padding: 30px;
}

.help-support .topper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

.help-support .logos {
  width: 150px;
  display: flex;
  flex-direction: column;
  margin: 30px;
}

.support-team {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.support-team h2 {
  margin: 0;
}

.contact-buttons {
  display: flex;
  gap: 20px;
  width: 100%;
  box-sizing: border-box;
  padding: 30px 0;
}

.contact-buttons button {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 25px;
  background: rgba(230, 232, 236, 0.2);
  justify-content: center;
  font-size: 14px;
  flex-grow: 1;
  padding: 15px;
}

.contact-buttons button img {
  height: 48px;
}

button.support-message img {
  content: url("./images/chat-orange.svg");
}

button.support-call img {
  content: url("./images/call-orange.svg");
}

.help-support .contact-info {
  display: flex;
  background: rgba(230, 232, 236, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.12);
  padding: 20px 30px;
  border-radius: 10px;
  margin-top: auto;
  gap: 50px;
}

.help-support .contact-info .bottom {
  display: flex;
}

.help-support .contact-info .contacts {
  display: flex;
  flex-direction: column;
  gap: 5px;
  white-space: nowrap;
}

.help-support .contact-info .contacts div {
  display: flex;
  gap: 8px;
}

.help-support .logos-small {
  height: 30px;
  display: flex;
}

.logos-small .logo-text {
  margin: 3px;
}

.business-name {
  color: rgb(54, 169, 224);
  font-size: 12px;
  margin: 6px 0;
}

.help-support .bottom {
  font-size: 14px;
  font-weight: 300;
  color: #4b4c4f;
}

img.logo-image {
  content: url("./images/logo-image.svg");
}

img.logo-text {
  content: url("./images/logo-text.svg");
}

img.web-icon {
  content: url("./images/icons/web.svg");
}

img.email-icon {
  content: url("./images/icons/email.svg");
}

img.phone-icon {
  content: url("./images/icons/phone.svg");
}

img.mobile-icon {
  content: url("./images/icons/mobile.svg");
}

.socials {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-left: auto;
  justify-content: end;
}

.socials img {
  display: flex;
  padding: 5px;
}

.socials img.icon-linkedin {
  content: url("./images/icons/linkedin.svg");
}

.socials img.icon-facebook {
  content: url("./images/icons/facebook.svg");
}

.socials img.icon-instagram {
  content: url("./images/icons/instagram.svg");
}
