.main-page {
  display: flex;
  padding: 16px;
  min-height: 100vh;
  box-sizing: border-box;
}

.sidebar {
  width: 160px;
  flex: 0 0 0;
  background-color: white;
  border-radius: 20px;
  margin: 10px;
  margin-bottom: auto;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar .logo {
  width: 96px;
  margin: 16px;
}

.sidebar-item {
  width: 127px;
  display: flex;
  flex-direction: column;
  background: rgba(230, 232, 236, 0.5);
  border-radius: 15px;
  margin: 5px;
  align-items: center;
  font-size: 14px;
  line-height: 17.25px;
  padding: 10px 0;
}

.sidebar-item.selected {
  background: linear-gradient(50.19deg, #36A9E0 2.84%, #0367B2 106.82%);
  color: white;
}

.sidebar .start img {
  content: url("./images/sidebar/start.svg");
}
.sidebar .start.selected img {
  content: url("./images/sidebar/start-white.svg");
}
.sidebar .messages img {
  content: url("./images/sidebar/chat.svg");
}
.sidebar .messages.selected img {
  content: url("./images/sidebar/chat-white.svg");
}
.sidebar .notifications img {
  content: url("./images/sidebar/notifications.svg");
}
.sidebar .notifications.selected img {
  content: url("./images/sidebar/notifications-white.svg");
}
.sidebar .my_profile img {
  content: url("./images/sidebar/profile.svg");
}
.sidebar .my_profile.selected img {
  content: url("./images/sidebar/profile-white.svg");
}
.sidebar .help img {
  content: url("./images/sidebar/help.svg");
}
.sidebar .help.selected img {
  content: url("./images/sidebar/help-white.svg");
}
.sidebar .settings img {
  content: url("./images/sidebar/settings.svg");
}
.sidebar .settings.selected img {
  content: url("./images/sidebar/settings-white.svg");
}
.sidebar .log_out img {
  content: url("./images/sidebar/logout.svg");
}
.sidebar .log_out.selected img {
  content: url("./images/sidebar/logout-white.svg");
}

.content-area {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.nav-bar-top {
  display: flex;
  flex-direction: column;
  background: #FFFFFF;
  border: 1px solid #E6E8EC;
  box-sizing: border-box;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.03);
  border-radius: 20px;
  margin: 10px;
}

.show-chat .nav-bar-top {
  display: none;
}

.nav-bar-top .selector {
  display: flex;
  padding: 12px;
}

.nav-bar-top .selector > span {
  display: inherit;
}

.nav-bar-top input {
  display: none;
}

.nav-bar-top input + label {
  font-size: 18px;
  color: #36A9E0;
  padding: 10px 15px;
  border-radius: 20px;
  white-space: nowrap;
}

.nav-bar-top input:checked + label {
  background: linear-gradient(50.19deg, #36A9E0 2.84%, #0367B2 106.82%);
  color: white;
}

.profiles {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 10px;
}

.profile-box, .find-new {
  width: 360px;
  margin: 0 auto;
  background: #FFFFFF;
  border: 1px solid #E6E8EC;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.03);
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 18px;
  box-sizing: border-box;
}

.profile-image {
  width: 100%;
  height: 180px;
  display: block;
  border-radius: 20px;
  object-fit: cover;
}

.profile-info {
  width: 100%;
  margin-top: 20px;
}

.profile-info .name {
  font-size: 24px;
  font-weight: 600;
  margin-left: 6px;
}

.profile-info .text {
  font-size: 16px;
  font-weight: 300;
  color: #777E90;
  margin-left: 6px;
}

.profile-box .buttons {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}

.profile-box .buttons a {
  background: rgba(230, 232, 236, 0.2);
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  margin: 6px;
  width: 80px;
}

a.profile img {
  content: url("./images/profile-orange.svg");
}

a.chat img {
  content: url("./images/chat-orange.svg");
}

a.call img {
  content: url("./images/call-orange.svg");
}

.find-new {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 15px;
  text-align: center;
  color: #F28D00;
}

.find-new img {
  content: url("./images/plus-with-circle.svg");
  width: 115px;
  height: 115px;
  margin-top: 110px;
  margin-bottom: 30px;
  cursor: pointer;
}

.notification-panel {
  float: right;
  background: white;
  border-radius: 36px;
  border: 1px solid #E6E8EC;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.03);
  margin: 10px;
  width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mobile-header {
  display: none;
}

@media (max-width: 1023px) {
  .notification-panel {
    display: none;
  }

  .show-chat .nav-bar-top {
    display: unset;
  }  

  .mobile-header {
    display: flex;
    padding: 10px 0;
    justify-content: space-around;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }

  .mobile-header button {
    border: none;
    background: none;
    border-radius: 100px;
  }

  .mobile-header .menu img {
    content: url("./images/button-menu.svg");
  }
  .mobile-header .logo-with-text {
    margin: auto 0;
    width: 210px;
    display: flex;
    justify-content: space-between;
  }
  .mobile-header .logo-mobile {
    content: url("./images/logo.svg");
    width: 50px;
    vertical-align: text-bottom;
  }
  .mobile-header .logo-text {
    font-family: "Signika Negative";
    font-weight: 600;
    font-size: 30px;
    color: #23262F;
  }
  .mobile-header .notification img {
    content: url("./images/button-bell.svg");
  }

  .nav-bar-top {
    border-radius: unset;
    margin: unset;
    overflow: hidden; /* risk here is from .selector element overflowing */
    position: sticky;
    top: 0;
  }
  .nav-bar-top .selector {
    margin: auto;
  }
  .nav-bar-top .selector > span.community_calls {
    display: none;
  }
}


.active-user {
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 32px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.active-user img {
  display: block;
  height: 126px;
  width: 126px;
  border-radius: 80px;
  border: 8px solid #E6E8EC;
  filter: drop-shadow(0px 4px 4px rgb(0 0 0 / 25%));
  margin-top: 45px;
  object-fit: cover;
  text-align: center;
}

.active-user .name {
  text-align: center;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.notifications-header {
  font-size: 22px;
}

.notification-item {
  flex-direction: row;
  align-items: flex-start;
  padding: 19px 22px;
  background: #FFFFFF;
  border: 1px solid #F2F2F2;
  box-sizing: border-box;
  border-radius: 15px;
  margin-bottom: 10px;
}

.mobile-shade, .sidebar .active-user, .sidebar .close {
  display: none;
}

@media screen and (max-width: 1024px) and (orientation: portrait) {
  .sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 2;
    border-radius: 0;
    margin: 0;
    left: 0;
    transition: left 0.4s;
    overflow-y: scroll;
  }

  .sidebar.hidden {
    left: -100%;
  }
  .sidebar.hidden + .mobile-shade {
    opacity: 0;
    pointer-events: none;
  }

  .sidebar .logo {
    display: none;
  }

  .sidebar .active-user {
    height: unset;
    padding: 30px;
    padding-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    font-size: 18px;
  }

  .active-user img {
    height: unset;
    width: 100%;
    box-sizing: border-box;
    aspect-ratio: 1;
    margin-top: unset;
  }

  .sidebar .active-user, .sidebar .close {
    display: unset;
  }

  .sidebar button.close {
    border-radius: 100px;
    align-self: end;
    background: rgba(230, 232, 236, 0.4);
    margin: 10px 10px 0 0;
    padding: 6px;
  }
  .sidebar button.close img {
    content: url("./images/close-pop-up.svg");
    filter: grayscale(1);
  }

  .mobile-shade {
    display: block;
    background: rgb(0 0 0 / 30%);
    z-index: 1;
    position: fixed;
    height: 100vh;
    width: 100vw;
    pointer-events: all;
    transition: opacity 0.5s;
  }
}

body.hide-mobile-header .mobile-header {
  display: none;
}
