.main-page {
  display: flex;
  padding: 30px;
  min-height: 100vh;
  box-sizing: border-box;
}

.sidebar {
  flex: 0 0 0;
  margin-bottom: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.sidebar .logo {
  width: 96px;
  margin: 16px;
  content: url("./images/logo-text.svg");
}

.disable-chat {
  display: none;
}

.sidebar-item {
  width: 100%;
  display: flex;
  flex-direction: column;
  background: rgba(230, 232, 236, 0.5);
  border-radius: 15px;
  align-items: center;
  font-size: 14px;
  line-height: 17.25px;
  padding: 10px 0;
}

.sidebar-item.selected {
  background: linear-gradient(50.19deg, #36a9e0 2.84%, #0367b2 106.82%);
  color: white;
}

.sidebar-item.selected img {
  filter: brightness(0) invert(1);
}

.sidebar .start img {
  content: url("./images/sidebar/start.svg");
}
.sidebar .messages img {
  content: url("./images/sidebar/chat.svg");
}
.sidebar .notifications img {
  content: url("./images/sidebar/notifications.svg");
}
.sidebar .my_profile img {
  content: url("./images/sidebar/profile.svg");
}
.sidebar .help img {
  content: url("./images/sidebar/help.svg");
}
.sidebar .settings img {
  content: url("./images/sidebar/settings.svg");
}
.sidebar .log_out img {
  content: url("./images/sidebar/logout.svg");
}

.content-area {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

/* nav bar */

.nav-bar-top {
  display: flex;
  flex-direction: column;
  z-index: 1;
}

.show-chat .nav-bar-top {
  display: none;
}

.nav-bar-top .selector {
  display: flex;
}

.nav-bar-top .selector > span {
  display: inherit;
}

.nav-bar-top input {
  display: none;
}

.nav-bar-top input + label {
  font-size: 18px;
  color: #36a9e0;
  padding: 10px 15px;
  white-space: nowrap;
}

.nav-bar-top input:checked + label {
  background: linear-gradient(50.19deg, #36a9e0 2.84%, #0367b2 106.82%);
  color: white;
}

/* main content area */
.content-area-main {
  display: flex;
  flex: 1 1 0;
}

.profiles {
  display: grid;
  flex-grow: 1;
  grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
  grid-auto-rows: 1fr;
  gap: 20px;
  height: fit-content;
}

.profile-box,
.match-status {
  width: 360px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-image {
  width: 100%;
  height: 180px;
  display: block;
  border-radius: 20px;
  object-fit: cover;
}

.profile-avatar {
  width: 180px;
  height: 180px;
  display: block;
  border-radius: 20px;
  object-fit: cover;
  border: 8px solid #e6e8ec;
  filter: drop-shadow(0px 4px 4px rgb(0 0 0 / 25%));
  border-radius: 100%;
}

.profile-avatar-chat {
  width: 50px;
  height: 50px;
  display: block;
  border-radius: 20px;
  object-fit: cover;
  border: 2px solid #e6e8ec;
  filter: drop-shadow(0px 4px 4px rgb(0 0 0 / 25%));
  border-radius: 100%;
}

.profile-info {
  width: 100%;
  margin-top: 20px;
  display: grid;
  gap: 20px;
  font-size: 22px;
}

.profile-info .name {
  font-size: 24px;
  font-weight: 600;
  margin-left: 6px;
}

.profile-info .text {
  font-size: 16px;
  font-weight: 300;
  color: #777e90;
  margin-left: 6px;
}

.profile-box .buttons {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  gap: 10px;
  width: 100%;
}

.profile-box .buttons a,
.profile-box .buttons button {
  background: rgba(230, 232, 236, 0.2);
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  width: 80px;
  flex: 1 1 0;
  font-size: inherit;
}

.profile-box .buttons .profile img {
  content: url("./images/profile-orange.svg");
}

.profile-box .buttons .chat img {
  content: url("./images/chat-orange.svg");
}

.profile-box .buttons .call img {
  content: url("./images/call-orange.svg");
}

.match-status {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 15px;
  text-align: center;
  color: #f28d00;
  border-style: dashed;
  border-width: 2px;
}

button.match-status {
  height: auto !important;
}

.match-status img {
  width: 115px;
  margin-bottom: 30px;
}

.match-status.find-new img {
  content: url("./images/plus-with-circle.svg");
  margin-top: 110px;
  height: 115px;
  cursor: pointer;
}

.match-status.searching {
  font-size: 16px;
}

.match-status.searching img {
  content: url("./images/chat-searching.png");
  margin-top: 60px;
}

.match-status.searching .change-criteria {
  padding: 16px 44px;
  margin: 30px;
  background: linear-gradient(43.07deg, #db590b -3.02%, #f39325 93.96%);
  border-radius: 90px;
  font-weight: 600;
  color: #fcfcfd;
}

.notification-panel {
  margin-left: auto;
  flex: 0 1 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.mobile-header {
  display: none;
}

@media (width < 1024px) {
  .notification-panel {
    display: none;
  }

  .show-chat .nav-bar-top {
    display: unset;
  }

  .mobile-header {
    display: flex;
    padding: 10px 0;
    justify-content: space-around;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }

  .mobile-header button {
    border: none;
    background: none;
  }

  .mobile-header .menu img {
    content: url("./images/button-menu.svg");
  }
  .mobile-header .logo-with-text {
    margin: auto 0;
    width: 210px;
    display: flex;
    justify-content: space-between;
  }
  .mobile-header .logo-mobile {
    content: url("./images/logo.svg");
    width: 50px;
    vertical-align: text-bottom;
  }
  .mobile-header .logo-text {
    font-family: "Signika Negative";
    font-weight: 600;
    font-size: 30px;
    color: #23262f;
  }
  .mobile-header .notification img {
    content: url("./images/button-bell.svg");
  }

  .nav-bar-top {
    border-radius: unset;
    margin: unset;
    overflow: hidden; /* risk here is from .selector element overflowing */
    position: sticky;
    top: 0;
    padding: 0;
  }
  .nav-bar-top .selector {
    margin: auto;
  }
  .nav-bar-top .selector > span.community_calls {
    display: none;
  }
}

.active-user {
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.active-user img,
.show-profile .profile-image,
.active-user .avatar {
  display: block;
  aspect-ratio: 1;
  width: 60%;
  height: auto;
  border: 8px solid #e6e8ec;
  filter: drop-shadow(0px 4px 4px rgb(0 0 0 / 25%));
  border-radius: 100%;
  margin: 20px auto;
  object-fit: cover;
}

.active-user .name {
  text-align: center;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.notification-panel hr {
  border: none;
  height: 1px;
  width: 100%;
  background-color: #e6e8ec;
}

.notifications-header {
  font-size: 22px;
}

.notifications-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
}

.notification-item {
  flex-direction: row;
  align-items: flex-start;
  padding: 19px 22px;
  background: #ffffff;
  border: 1px solid #f2f2f2;
  box-sizing: border-box;
  border-radius: 15px;
  display: flex;
  gap: 15px;
}

.notification-item img.appointment {
  content: url("./images/notifications/appointment.svg");
}

.notification-item img.new-friend {
  content: url("./images/notifications/new-friend.svg");
}

.notification-item img.missed-call {
  content: url("./images/notifications/missed-call.svg");
}

.notification-headline {
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
}

.notification-time {
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  color: rgba(119, 126, 144, 0.7);
}

.notification-panel .show-all {
  color: rgba(54, 169, 224, 1);
  padding: 10px;
}

.mobile-shade,
.sidebar .active-user,
.sidebar .close {
  display: none;
}

@media screen and (width < 1024px) {
  .sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 3;
    border-radius: 0;
    margin: 0;
    left: 0;
    transition: left 0.4s;
    overflow-y: scroll;
    width: min-content;
  }

  .sidebar.hidden {
    left: -100%;
  }
  .sidebar.hidden + .mobile-shade {
    opacity: 0;
    pointer-events: none;
  }

  .sidebar .logo {
    display: none;
  }

  .sidebar .active-user {
    height: unset;
    width: 100%;
    box-sizing: border-box;
    font-size: 18px;
  }

  .sidebar .active-user,
  .sidebar .close {
    display: unset;
  }

  .sidebar button.close {
    align-self: end;
    background: rgba(230, 232, 236, 0.4);
    margin: 10px 10px 0 0;
    padding: 6px;
  }
  .sidebar button.close img {
    content: url("./images/close-pop-up.svg");
    filter: grayscale(1);
  }

  .mobile-shade {
    display: block;
    background: rgb(0 0 0 / 30%);
    z-index: 2;
    position: fixed;
    height: 100vh;
    width: 100vw;
    pointer-events: all;
    transition: opacity 0.5s;
  }
}

body.hide-mobile-header .mobile-header {
  display: none;
}
