.show-notifications .header {
  justify-content: space-between;
}

.show-notifications .select-showing {
  display: flex;
  gap: 8px;
}

.select-showing button {
  padding: 10px;
  border: 1.5px solid #f39325;
  border-radius: 100px;
  font-weight: 500;
  font-size: 14px;
  color: #717171;
  display: flex;
  gap: 4px;
}

.select-showing .all img {
  content: url("./images/notifications/showing/all.svg");
}

.select-showing .unread img {
  content: url("./images/notifications/showing/unread.svg");
}

.select-showing .archive img,
.notification-item .status .archive-item img {
  content: url("./images/notifications/showing/archive.svg");
}

.select-showing .selected {
  background: linear-gradient(43.07deg, #db590b -3.02%, #f39325 93.96%);
  color: white;
}

.select-showing .selected img {
  filter: brightness(0) invert(1);
}

.show-notifications .content {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.notification-item {
  transition: box-shadow 0.5s;
}

.notification-item.unread {
  cursor: pointer;
  box-shadow: 0 0 6px inset #f39325;
}

.notification-item .status {
  margin-left: auto;
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
}

.notification-item .status .unread-indicator {
  position: absolute;
  right: 0;
  height: 14px;
  width: 14px;
  border-radius: 100%;
  background: linear-gradient(43.07deg, #db590b -3.02%, #f39325 93.96%);
}

.notification-item .status button.archive-item {
  margin-right: auto;
}

.notification-item .status .time-ago {
  font-weight: 300;
  font-size: 14px;
  color: #a6a6a6;
  margin-top: auto;
}
.load-more {
  padding: 1rem;
  background: linear-gradient(50.19deg, #36a9e0 2.84%, #0367b2 106.82%);
  color: #fff;
}
.disabled{
pointer-events: none;
opacity: 0.5;
cursor: not-allowed;
}
 