.overlay {
  display: flex;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  backdrop-filter: blur(5px);
  transition: 1s;
  background: rgba(0, 0, 0, 0.3);
  overflow-y: scroll;
  padding-top: 4px;
}

.overlay.hidden {
  backdrop-filter: blur(0);
  background: none;
  pointer-events: none;
  overflow: hidden;
}

.overlay-modal .profile-image {
  height: 320px;
}

.overlay-modal {
  margin: auto;
  padding: 24px;
  display: flex;
  min-width: 500px;
  background-color: white;
  flex-direction: column;
}

.av-setup-confirm {
  margin-top: auto;
}

.av-setup-confirm {
  color: white;
  background: linear-gradient(43.07deg, #db590b -3.02%, #f39325 93.96%);
  line-height: 58px;
  text-align: center;
}

.av-setup-reject {
  color: white;
  background: linear-gradient(43.07deg, #ff0000 -3.02%, #e8847b 93.96%);
  line-height: 58px;
  text-align: center;
}

@media screen and (width < 1024px) {
  .overlay {
    padding: 0;
  }

  .overlay-modal {
    min-width: unset;
    min-height: 100%;
    width: 100%;
    border-radius: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
