@media screen and (min-width: 1024px) {
  .show-profile .nav-bar-top {
    display: none;
  }
}

.show-profile .profile-component {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 10px;
}

.show-profile .content {
  display: flex;
  flex: 1 1 0;
}

.profile-user {
  width: 370px;
  box-sizing: border-box;
}

.profile-detail {
  flex: 1 1 0;
}

.profile-user, .profile-detail {
  padding: 30px;
}

.profile-user, .show-profile .header, .profile-detail {
  margin: 10px;
  border: 1px solid #E6E8EC;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.03);
  border-radius: 20px;
  background-color: white;
}

.show-profile .header {
  font-weight: 700;
  font-size: 28px;
  padding: 16px 32px;
}

.show-profile h3 {
  margin: 5px 0;
  font-size: 22px;
  font-weight: 500;
}

.profile-text {
  background: rgba(230, 232, 236, 0.2);
  border-radius: 15px;
  font-size: 24px;
  line-height: 33px;
  color: #667085;
  padding: 30px;
  margin: 10px 0 25px 0;
}

@media screen and (max-width: 1023px) {
  .show-profile .selector {
    display: none;
  }

  .show-profile .content {
    flex-direction: column
  }

  .profile-user {
    width: unset;
  }
}
