.overlay-modal .centered {
  text-align: center;
}

.show-profile .profile-component {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.show-profile .content {
  display: flex;
  flex: 1 1 0;
}

.profile-box .profile-avatar {
  text-align: left;
}

.new-match {
  /* TODO: @tbscode temporary indication this should be a 'NEW' svg or similar in future */
  background-color: rgb(252, 224, 172);
}

.show-profile .profile-box {
  text-align: center;
  margin-bottom: auto;
}

.show-profile .profile-box .text {
  font-size: 22px;
  font-weight: 400;
}

.show-profile .profile-box .buttons {
  justify-content: space-around;
}

.show-profile .profile-box .buttons .profile {
  display: none;
}

.profile-detail {
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.show-profile a.back {
  display: inline-block;
}

.show-profile .back img {
  content: url("./images/arrow-back.svg");
  vertical-align: middle;
  padding: 15px;
}

.show-profile h3 {
  margin: 5px 0;
  font-size: 22px;
  font-weight: 500;
}

.profile-detail .buttons {
  display: flex;
  position: absolute;
  right: 30px;
}

.profile-detail button.edit {
  padding: 15px;
  position: absolute;
  top: 15px;
  right: 15px;
}

.profile-detail button img {
  height: 28px;
}

.profile-detail button.edit img {
  content: url("./images/edit2.svg");
}
.profile-detail button.save img {
  content: url("./images/check.svg");
}
.profile-detail button.cancel img {
  content: url("./images/close.svg");
}

.profile-text,
.selected-topics {
  background: rgba(230, 232, 236, 0.2);
  border-radius: 15px;
  font-size: 24px;
  line-height: 33px;
  color: #667085;
  padding: 30px;
  margin: 10px 0 25px 0;
  display: flex;
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.selected-topics {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  position: relative;
}

.selected-topics button.edit {
  position: absolute;
  top: 15px;
  right: 15px;
}

.selected-topics .buttons {
  position: absolute;
  top: 30px;
  right: 30px;
}

.interest-item {
  padding: 8px 20px;
  box-shadow: 0px 1px 5px rgb(0, 0, 0 / 30%);
  border-radius: 100px;
  font-weight: 600;
  font-size: 17px;
  background-color: white;
  color: #36a9e0;
  display: flex;
  align-items: center;
  gap: 8px;
  border: 2px solid white;
}

.selected-topics .interest-item .text {
  white-space: nowrap;
}

.selected-topics .interest-item img {
  content: url("./images/close-pop-up.svg");
  filter: hue-rotate(180deg);
}

.topics-shade {
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  backdrop-filter: blur(5px);
}

.topics-selector {
  z-index: 3;
  margin: auto;
  border-radius: 15px;
  background-color: #f2f2f2;
  padding: 30px;
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 40px;
}

.topics-selector .items {
  display: flex;
  flex-wrap: wrap;
  max-width: 800px;
  gap: 10px;
}

.interest-item.selected-item {
  border-color: inherit;
}

.profile-text p {
  overflow-wrap: anywhere;
  line-height: inherit;
  padding: 6px;
}

.character-limit {
  position: absolute;
  right: 1em;
  bottom: 1em;
}

.online-indicator {
  font-weight: 300;
  font-size: 12px;
  color: rgb(243, 147, 37);
  background-color: white;
  border-radius: 100px 0 0 100px;
  padding: 8px 20px;
  position: absolute;
  right: 4px;
  top: 35px;
  pointer-events: none;
  opacity: 0;
  transition: opacity 1s;
}

.online-indicator.online {
  opacity: 1;
}

.online-indicator .light {
  background-color: rgba(200, 238, 162, 1);
  display: inline-block;
  height: 9px;
  width: 9px;
  border-radius: 100%;
  vertical-align: middle;
  margin: 5px;
}

@media screen and (width < 1024px) {
  .show-profile .selector {
    display: none;
  }

  .show-profile .profile-component,
  .show-profile .content {
    gap: 10px;
  }

  .show-profile .content {
    flex-direction: column;
  }

  .show-profile .profile-box {
    width: 100%;
  }
}
