@media screen and (min-width: 1024px) {
  .show-profile .nav-bar-top {
    display: none;
  }
}

.profile {
  display: flex;
  flex-grow: 1;
  padding: 10px;
}

.profile .left {
  width: 370px;
}

.profile .left, .profile .main {
  display: flex;
  flex-direction: column;
}

.profile-user, .profile-detail {
  flex-grow: 1;
  padding: 30px;
}

.profile .back, .profile-user, .profile .header, .profile-detail {
  margin: 10px;
  border: 1px solid #E6E8EC;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.03);
  border-radius: 20px;
  background-color: white;
}

.profile .back, .profile .header {
  font-weight: 600;
  font-size: 28px;
  padding: 16px 32px;
}

.profile .header {
  font-weight: 700;
}

.profile .main {
  flex: 1 1 0;
}

.profile h3 {
  margin: 5px 0;
  font-size: 22px;
  font-weight: 500;
}

.profile-text {
  background: rgba(230, 232, 236, 0.2);
  border-radius: 15px;
  font-size: 24px;
  line-height: 33px;
  color: #667085;
  padding: 30px;
  margin: 10px 0 25px 0;
}