@media screen and (min-width: 1024px) {
  .show-profile .nav-bar-top {
    display: none;
  }
}

.show-profile .profile-component {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.show-profile .content {
  display: flex;
  flex: 1 1 0;
}

.show-profile .profile-box {
  text-align: center;
}

.show-profile .profile-box .text {
  font-size: 22px;
  font-weight: 400;
}

.show-profile .profile-box .buttons {
  justify-content: space-around;
}

.show-profile .profile-box .buttons .profile {
  display: none;
}

.profile-detail {
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.show-profile .header {
  font-weight: 700;
  font-size: 28px;
  display: flex;
  height: 1em;
  box-sizing: content-box;
  align-items: center;
}

.show-profile a.back {
  display: inline-block;
}

.show-profile .back img {
  content: url("./images/arrow-back.svg");
  vertical-align: middle;
  padding: 15px;
}

.show-profile .text {
  margin-left: 6px;
}

.show-profile h3 {
  margin: 5px 0;
  font-size: 22px;
  font-weight: 500;
}

.profile-text,
.selected-topics {
  background: rgba(230, 232, 236, 0.2);
  border-radius: 15px;
  font-size: 24px;
  line-height: 33px;
  color: #667085;
  padding: 30px;
  margin: 10px 0 25px 0;
}

button.edit img {
  content: url("./images/edit2.svg");
  height: 20px;
  padding: 10px;
}

button.cancel img {
  content: url("./images/close.svg");
}

button.save img {
  content: url("./images/check.svg");
}

.selected-topics {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  position: relative;
}

.selected-topics button.edit {
  position: absolute;
  top: 15px;
  right: 15px;
}

.selected-topics .buttons {
  position: absolute;
  top: 30px;
  right: 30px;
}

.interest-item,
.add-interest-item {
  padding: 8px 20px;
  box-shadow: 0px 1px 5px rgb(0, 0, 0 / 30%);
  border-radius: 100px;
  font-weight: 600;
  font-size: 17px;
  background-color: white;
  color: #36a9e0;
  display: flex;
  align-items: center;
  gap: 8px;
  border: 2px solid white;
}

.selected-topics .interest-item .text {
  white-space: nowrap;
}
/* 
.selected-topics button {
  display: none;
}

.selected-topics.editing button {
  display: unset;
} */

.selected-topics .add-interest-item {
  height: auto;
}

.selected-topics .interest-item img {
  content: url("./images/close-pop-up.svg");
  filter: hue-rotate(180deg);
}

.selected-topics .add-interest-item img {
  content: url("./images/chat-plus.svg");
  filter: invert(1);
}

.topics-shade {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  backdrop-filter: blur(5px);
}

.topics-selector {
  margin: auto;
  border-radius: 15px;
  background-color: #f2f2f2;
  padding: 30px;
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 40px;
}

.topics-selector .items {
  display: flex;
  flex-wrap: wrap;
  max-width: 800px;
  gap: 10px;
}

.interest-item.selected-item {
  border-color: inherit;
}

@media screen and (max-width: 1023px) {
  .show-profile .selector {
    display: none;
  }

  .show-profile .profile-component,
  .show-profile .content {
    gap: 10px;
  }

  .show-profile .content {
    flex-direction: column;
  }

  .show-profile .profile-box {
    width: 100%;
  }
}
