.setting-text.editing button.edit {
  opacity: 0;
  pointer-events: none;
}

.setting-text:not(.editing) > .save-buttons {
  display: none;
}

.edit-overlay {
  display: flex;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  backdrop-filter: blur(5px);
  transition: 1s;
  background: rgba(0, 0, 0, 0.3);
  overflow-y: scroll;
  padding-top: 4px;
}

.edit-overlay.hidden {
  backdrop-filter: blur(0);
  background: none;
  pointer-events: none;
}

.edit-modal {
  margin: auto;
  padding: 24px;
  display: flex;
  flex-direction: column;
}

.setting-text:not(.editing) .edit-modal {
  display: none;
}

.show-settings .content button {
  font-weight: 600;
  padding: 10px 16px;
  border-radius: 100px;
  background: linear-gradient(43.07deg, #db590b -3.02%, #f39325 93.96%);
  color: white;
}
