.setting-text.editing button.edit {
  opacity: 0;
  pointer-events: none;
}

.setting-text:not(.editing) > .save-buttons {
  display: none;
}

section.settings {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.show-settings h2 {
  font-weight: 500;
  font-size: 18px;
  margin: 0;
}

.show-settings .settings-items {
  border: 1px solid rgba(230, 232, 236, 1);
  background: rgba(230, 232, 236, 0.2);
  padding: 20px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.show-settings .content .item h3 {
  margin: 0;
  font-weight: 600;
  font-size: 16px;
}

.show-settings .content button {
  font-weight: 600;
  padding: 10px 16px;
  border-radius: 100px;
  color: #36a9e0;
}

.show-settings .content button.delete-account {
  font-weight: 400;
  padding: 8px 12px;
  border-radius: 100px;
  font-size: 14px;
  background: linear-gradient(50.19deg, #36a9e0 2.84%, #0367b2 106.82%);
  box-shadow: 0px 1px 3px rgba(16, 24, 40, 0.1), 0px 1px 2px rgba(16, 24, 40, 0.06);
  color: white;
  margin-top: 16px;
  margin-right: auto;
}

.show-settings .content .item .text {
  display: inline-block;
  width: 200px;
  font-weight: 300;
  font-size: 15px;
  color: #4b4c4f;
}

.edit-overlay {
  display: flex;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  backdrop-filter: blur(5px);
  transition: 1s;
  background: rgba(0, 0, 0, 0.3);
  overflow-y: scroll;
  padding-top: 4px;
}

.edit-overlay.hidden {
  backdrop-filter: blur(0);
  background: none;
  pointer-events: none;
}

.edit-modal {
  margin: auto;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
}

.edit-modal button.modal-close {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  filter: grayscale(1);
}

.setting-text:not(.editing) .edit-modal {
  display: none;
}
