.setting-text.editing button.edit {
  opacity: 0;
  pointer-events: none;
}

.setting-text:not(.editing) > .save-buttons {
  display: none;
}

.edit-overlay {
  display: flex;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  backdrop-filter: blur(5px);
  transition: 1s;
  background: rgba(0, 0, 0, 0.3);
  overflow-y: scroll;
  padding-top: 4px;
}

.edit-overlay.hidden {
  backdrop-filter: blur(0);
  background: none;
  pointer-events: none;
}

.edit-modal {
  margin: auto;
  padding: 24px;
  display: flex;
  flex-direction: column;
}

.setting-text:not(.editing) .edit-modal {
  display: none;
}

.show-settings .content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.show-settings .content .item h3 {
  margin: 0;
  text-transform: capitalize;
  font-weight: 600;
  font-size: 16px;
}

.show-settings .content button {
  font-weight: 600;
  padding: 10px 16px;
  border-radius: 100px;
  color: #36a9e0;
}

.show-settings .content button.delete-account {
  font-weight: 400;
  padding: 8px 12px;
  border-radius: 100px;
  font-size: 14px;
  background: linear-gradient(50.19deg, #36a9e0 2.84%, #0367b2 106.82%);
  box-shadow: 0px 1px 3px rgba(16, 24, 40, 0.1), 0px 1px 2px rgba(16, 24, 40, 0.06);
  color: white;
  margin-top: 16px;
  margin-right: auto;
}

.item .edit {
  text-transform: capitalize;
}

.show-settings .content .item .text {
  display: inline-block;
  width: 200px;
  font-weight: 300;
  font-size: 15px;
  color: #4b4c4f;
}
