video {
  width: 100%;
  pointer-events: none;
  object-fit: cover;
  aspect-ratio: 16/9;
}

/*video area*/

.local-video-container {
  position: relative;
  aspect-ratio: 16/9;
  width: 576px;
  max-width: 100%;
  margin: 15px auto;
  background-color: rgba(0, 0, 0, 0.1);
}

.local-video-container,
.local-video-container video {
  border-radius: 20px;
}

.video-container > video,
.local-video-container video {
  height: 100%;
  width: 100%;
  border-radius: 20px;
  pointer-events: none;
  vertical-align: middle;
}

/* controls box */

.video-controls {
  display: flex;
  margin: 7px;
  user-select: none;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.video-controls.top {
  bottom: unset;
  top: 0;
}

.video-controls #signalQuality {
  vertical-align: middle;
  padding: 8px;
  margin: auto;
}

.video-controls .signal-button .signal-update {
  color: #f39325;
}

.video-controls > input[type="checkbox"] {
  display: none;
}

/* video call inset buttons / toggles */
.video-controls label,
.video-controls button,
.call-time,
.end-call {
  height: 42px;
  min-width: 42px;
  border: none;
  box-shadow: 0 0 4px 3px rgb(255 255 255 / 15%); /* see the button when there is black background */
  border-radius: 21px;
  background-color: rgba(0, 0, 0, 0.7);
  margin-right: 16px;
  padding: 0;
  display: flex;
}

.video-controls .text {
  font-size: 16px;
  color: #e6e8ec;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 100%;
  margin: auto 12px auto 0;
}

.video-controls .signal-button .text {
  color: unset;
}

/* override background for signal button */
.video-controls .signal-button {
  font-weight: 600;
  background: rgba(255, 255, 255, 0.9);
}

.video-controls .img {
  padding: 0;
  margin: auto 3px;
  width: 36px;
  height: 36px;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 100px;
}

.video-controls a {
  text-decoration: none;
}

.call-setup-modal input#audio-toggle + label {
  /* push items to right side */
  margin-left: auto;
}

input#audio-toggle + label .img {
  background-image: url("images/videobuttons/microphone-on.svg");
}

input#audio-toggle:checked + label .img {
  background-image: url("images/videobuttons/microphone-off.svg");
}

input#video-toggle + label .img {
  background-image: url("images/videobuttons/camera-on.svg");
}

input#video-toggle:checked + label .img {
  background-image: url("images/videobuttons/camera-off.svg");
}

input#fullscreen-toggle + label .img {
  background-image: url("images/videobuttons/fullscreen-enter.svg");
}

input#fullscreen-toggle:checked + label .img {
  background-image: url("images/videobuttons/fullscreen-exit.svg");
}

input#calendar-toggle + label .img {
  background-image: url("images/videobuttons/calendar.svg");
}
/* 
input#calendar-toggle:checked + label .img {
  background-image: url("images/videobuttons/calendar.svg");
} */

input#help-toggle + label .img {
  background-image: url("images/videobuttons/exclamation-mark.svg");
}
/* 
input#help-toggle:checked + label .img {
  background-image: url("images/videobuttons/exclamation-mark.svg");
} */

.chat-show .img {
  background-image: url("images/videobuttons/chat.svg");
}

.call-time {
  margin-left: auto;
  padding-left: 12px;
  cursor: default;
  flex-shrink: 0;
}

.end-call {
  background: linear-gradient(225.88deg, #db590b 7.79%, #9c2308 104.6%);
}

.end-call .img {
  background-image: url("images/videobuttons/call-end.svg");
}

#foreign-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #e5e5e5; /* not transparent to work with fullscreen */
  display: flex;
}

.local-video-container.inset {
  position: absolute;
  top: 10px;
  right: 25px;
  max-height: 30%;
}

.video-controls.top {
  display: none;
}

@media screen and (width < 1024px) {
  .call-screen .video-controls :not(.call-time) .text {
    display: none;
  }

  .local-video-container.inset {
    box-sizing: border-box;
    max-height: 28%;
    max-width: 45%;
    top: 0;
    right: 0;
    margin: 10px;
  }

  .video-controls #calendar-toggle + label,
  .video-controls .chat-show {
    display: none;
  }
}

/* need to set this as aspect-ratio will not override height/width settings */
@media screen and (orientation: landscape) {
  /* only apply to inset, ie not on call setup */
  .local-video-container.inset {
    width: unset;
    height: 324px;
  }
}

@media screen and (width < 1024px) and (orientation: portrait) {
  #foreign-container.blur video {
    filter: blur(20px);
  }

  .video-controls .call-time {
    display: none;
  }

  .call-screen .video-controls {
    margin: 0;
    padding: 15px 0;
    justify-content: space-evenly;
  }

  .call-screen .video-controls label,
  .call-screen .video-controls button,
  .call-time {
    margin-right: unset;
  }

  .video-controls.top {
    display: flex;
    z-index: 1; /* put above video to avoid blur */
  }

  .video-controls.top button.selected {
    background: linear-gradient(43.07deg, #db590b -3.02%, #f39325 93.96%);
  }

  .video-controls.top button img {
    height: 100%;
  }

  .video-controls.top .show-chat img {
    content: url("images/videobuttons/chat.svg");
  }
  .video-controls.top .show-translate img {
    content: url("images/videobuttons/translate.svg");
  }
  .video-controls.top .show-questions img {
    content: url("images/videobuttons/questions.svg");
  }
  .video-controls.top .show-notes img {
    content: url("images/videobuttons/notes.svg");
  }

  .local-video-container.inset {
    top: 60px;
  }
}
