.flex-grid {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background-color: #fff;
   }
   .title {
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 100%;
   }
   .close-button{
    background: #FAFAFB;
    width: 3rem;
    height: 3rem;
    font-size: 35px;
    font-weight: 100;
    color: #333;
   }
   .sub-title {
    color: #C2C2C2;
    padding: 1rem;
   }
   .container {
    border: 1px solid #c1c1c1;
    border-radius: 10px;
    padding: 0.5rem 0;
    /* text-align: center; */
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
   }
   .image-container{
    width: 8rem;
    border-radius: 50%;
    height: 8rem;
    background: #d4d4d4;
     display: flex;
    align-items: center;
    justify-content: center;
   }
   .image-container img{
    height: 85%;
    width: 85%;
    border-radius: 50%;
    background: red;
   }
  .col {
flex:1
  }
  .btn-container {
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
    width: 100%;
  }
  .send-button{
    background: linear-gradient(43.07deg, #db590b -3.02%, #f39325 93.96%);
  border: none;
  color: white;
  padding: 1rem;
  width: 49%;
   }
  .cancle-button{
    background: none;
   border-color: #0063AF;
  color: #0063AF;
  padding: 1rem;
  width: 49%;
   }
  @media (max-width: 400px) {
    .flex-grid {
      display: block;
    }
  }